
<p><?php echo $this->translate('partner-create intro text'); ?></p>
<p><b><?php echo $this->translate('partner-create current publisher quota status text')?></b><?php echo " " . $this->usedPublishers . " ". $this->translate('partner-create publisher quota test part 1') . " " .$this->remainingPublishers . " " . $this->translate('partner-create publisher quota test part 2') . " "?>
<?php echo " ".$this->translate('partner-create publisher quota test part 3')?><a href="http://corp.kontorol.com/company/contact-us" target="_blank"><?php echo " " . $this->translate('contact kontorol')?></a><?php echo " ". $this->translate('partner-create publisher quota test part 4')?></p>
<p class="partner-create"><?php echo $this->translate('partner-create publisher quota test part 5')?></p>
<p><font color="red"><?php echo $this->errorDescription; ?></font></p>
<?php echo $this->form; ?>
