<p><?php echo $this->translate('partner-list-by-user intro text'); ?></p>
<!--  ?php echo $this->form; ? -->
<br>
<div id="results" class="clear">
	<?php $count = $this->paginator->getItemsCount(); ?>
	<h2><?php echo $this->translate('list-by-user results'); ?><span> (<?php echo $count; ?> <?php echo $this->translate(array('publisher', 'publishers', $count)); ?>)</span></h2>
	<span class="hint"><?php if ($this->commercialFiltered) { echo $this->translate('partner-list commercial filtered'); } ?></span>
	<table class="clear">
		<thead>
			<tr>
				<th><?php echo $this->translate('ID'); ?></th>
				<th><?php echo $this->translate('Publisher Name'); ?></th>
				<th><?php echo $this->translate('Options'); ?></th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($this->paginator as /* Kontorol_Client_Type_Partner */ $partner): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $partner->id; ?></td>
				<td><?php echo $partner->name; ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $partner->id; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
							<option value="manage" ><?php echo $this->translate('Multi-Publisher Console login'); ?></option>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>
<script type="text/javascript">

function doAction(action, partnerId) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}

function manage(partnerId) {
	var url = '<?php echo $this->url(array('controller' => 'partner', 'action' => 'var-console-redirect', 'partner_id' => ''), null, true); ?>' + partnerId;
	window.open(url);
}

</script>
