<p><?php echo $this->translate('Here you can configure your Sso profiles'); ?></p>
<?php echo $this->filterForm; ?>
<?php echo $this->newSsoProfileFolderForm; ?>

<div id="sso_profile_list_div" class="clear">
	<table>
		<thead>
		<tr>
			<th><?php echo $this->translate('ID'); ?></th>
			<th><?php echo $this->translate('Publisher ID'); ?></th>
			<th><?php echo $this->translate('Status'); ?></th>
			<th><?php echo $this->translate('Application Type'); ?></th>
			<th><?php echo $this->translate('Domain'); ?></th>
			<th><?php echo $this->translate('Redirect Url'); ?></th>
			<th><?php echo $this->translate('Creation Date'); ?></th>
			<th><?php echo $this->translate('Last Updated Date'); ?></th>
			<th><?php echo $this->translate('Data'); ?></th>
			<th><?php echo $this->translate('Action'); ?></th>
		</tr>
		</thead>
		<tfoot>
		<tr>
			<td colspan="10">
				<?php echo $this->paginator; ?>
			</td>
		</tr>
		</tfoot>
		<tbody>

		<?php foreach($this->paginator as /* Kontorol_Client_Sso_Type_Sso */ $ssoProfile): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $ssoProfile->id; ?></td>
				<td><?php if ($ssoProfile->partnerId)
						echo $ssoProfile->partnerId;
					else
						echo '';?>
				</td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Sso_Enum_SsoStatus', $ssoProfile->status); ?></td>
				<td><?php echo $ssoProfile->applicationType; ?></td>
				<td><?php echo $ssoProfile->domain; ?></td>
				<td><?php echo $ssoProfile->redirectUrl; ?></td>
				<td><?php echo date($this->translate('time format'), $ssoProfile->createdAt); ?></td>
				<td><?php echo date($this->translate('time format'), $ssoProfile->updatedAt); ?></td>
				<td><?php echo $ssoProfile->data; ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $ssoProfile->id;?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<option value="configureSsoProfile" ><?php echo $this->translate('Configure'); ?></option>
						<?php if ($ssoProfile->status === Kontorol_Client_Sso_Enum_SsoStatus::DISABLED): ?>
							<option value="enable" ><?php echo $this->translate('Enable'); ?></option>
						<?php elseif ($ssoProfile->status === Kontorol_Client_Reach_Enum_ReachProfileStatus::ACTIVE): ?>
							<option value="disable" ><?php echo $this->translate('Disable'); ?></option>
						<?php endif; ?>
						<option value="remove" ><?php echo $this->translate('Remove'); ?></option>
					</select>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>
</div>

<script type="text/javascript">

	$(function(){
		addSubTitle('Sso Profiles');
	});

	jQuery('#filter_type').change(function() {
		if(this.value == "none") {
			$("#filter_text").css("display","none");
		}
		else {
			$("#filter_text").css("display","inline");
			$("#filter_text input").focus();
			if(this.value == "free")
				$("div.help").show();
			else
				$("div.help").hide();
		}
	});

	jQuery('#filter_type').change();

	function doAction(action, folderId) {
		if (action && eval('typeof ' + action) == 'function')
		{
			f = eval(action);
			Array.prototype.shift.apply(arguments);
			f.apply(this, arguments);
		}
		jQuery('select.options').val('');
	}

	function enable(ssoProfileId)
	{
		changeStatus(
			ssoProfileId,
			<?php echo Kontorol_Client_Sso_Enum_SsoStatus::ACTIVE; ?>,
			function() {
				alert('<?php echo $this->translate('Sso Profile enabled');?>');
			}
		);
	}

	function disable(ssoProfileId)
	{
		changeStatus(
			ssoProfileId,
			<?php echo Kontorol_Client_Sso_Enum_SsoStatus::DISABLED; ?>,
			function() {
				alert('<?php echo $this->translate('Sso Profile disabled');?>');
			}
		);
	}

	function remove(ssoProfileId)
	{
		var ok = confirm('<?php echo $this->translate('Are you sure you want to remove Sso Profile ?'); ?>');
		if (ok)
		{
			changeStatus(
				ssoProfileId,
				<?php echo Kontorol_Client_Sso_Enum_SsoStatus::DELETED; ?>,
				function() {
					alert('<?php echo $this->translate('Sso Profile removed');?>');
				}
			);
		}
	}

	function changeStatus(ssoProfileId, status, callback)
	{
		var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'SsoProfileSetStatusAction', 'ssoProfileId' => 'SSOPROFILEID', 'ssoProfileStatus' => 'STATUS')); ?>';
		url = url.replace('STATUS', status);
		url = url.replace('SSOPROFILEID', ssoProfileId);
		jQuery.ajax({
			url: url,
			dataType: 'json',
			success: function(result) {
				if (result != 'ok')
				{
					this.error(result);
				}
				else
				{
					if (callback && (typeof callback == 'function'))
					{
						callback.apply(this);
					}
				}
				jQuery('#frmPaginator1').submit();
			},
			error: function(result) {
				debugger;
				alert(result);
			}
		});
	}

	function addSsoProfile(partnerId)
	{
		var paramsStr = '/new_partner_id/' + partnerId;
		loadSsoProfile(paramsStr);
	}

	function configureSsoProfile(ssoProfileId, partnerId)
	{
		var ssoProfileIdStr = '/sso_profile_id/' + ssoProfileId +'/new_partner_id/' + partnerId ;

		var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'SsoProfileConfigureAction')); ?>' + ssoProfileIdStr;

		jQuery('#sso-profile-configure-dialog').remove();
		dialogDiv = jQuery('<div id="sso-profile-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');

		dialogDiv.dialog({
			bgiframe: true,
			modal: true,
			resizable: false,
			width: 600,
			height: 800,
			title: '<?php echo $this->translate('Sso Profile'); ?>',
			buttons: {
				'<?php echo $this->translate('Save'); ?>': function() {
					jQuery(this).find('#frmSsoProfileConfigure').submit();
				},
				'<?php echo $this->translate('Close'); ?>': function() {
					jQuery(this).dialog('close');
				}
			},
			close: function() {
				jQuery(this).dialog('destroy').remove();
			}
		});

		dialogDiv.load(
			url,
			null,
			function() {
				jQuery(this).find('#frmSsoProfileConfigure').ajaxForm({
					success: loadSsoProfileSuccess,
					iframe: true
				});
			}
		);
	}

	function loadSsoProfile(paramStr)
	{
		var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'SsoProfileConfigureAction')); ?>' + paramStr;

		jQuery('#sso-profile-configure-dialog').remove();
		dialogDiv = jQuery('<div id="sso-profile-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');

		dialogDiv.dialog({
			bgiframe: true,
			modal: true,
			resizable: false,
			width: 600,
			height: 800,
			title: '<?php echo $this->translate('Sso Profile'); ?>',
			buttons: {
				'<?php echo $this->translate('Save'); ?>': function() {
					jQuery('.ui-widget-overlay').css('z-index', 1003 );
					jQuery('#loader').show();
					jQuery(this).find('#frmSsoProfileConfigure').submit();
				},
				'<?php echo $this->translate('Close'); ?>': function() {
					jQuery(this).dialog('close');
				}
			},
			close: function() {
				jQuery(this).dialog('destroy').remove();
			}
		});

		dialogDiv.load(
			url,
			null,
			function() {
				jQuery(this).find('#frmSsoProfileConfigure').ajaxForm({
					success: loadSsoProfileSuccess,
					iframe: true
				});
			}
		);
	}

	function loadSsoProfileSuccess(html) {
		if (jQuery(html).filter('#frmSsoProfileConfigure').hasClass('valid'))
		{
			dialogDiv.dialog('close');
			if (jQuery('#frmPaginator1').length){
				jQuery('#frmPaginator1').submit();
			}
			else {
				jQuery('#frmPartnerIdFilter').submit();
			}
		}
		jQuery('.ui-widget-overlay').css('z-index', 1000 );
		jQuery('#loader').hide();
		jQuery('#frmSsoProfileConfigure').replaceWith(html);
		jQuery('#frmSsoProfileConfigure').ajaxForm({
			success: loadSsoProfileSuccess,
			iframe: true
		});
	}
</script>
