<script type="text/javascript">

	var logViewUrl = "<?php echo $this->url(array('controller' => 'plugin', 'action' => 'KontorolLogViewAction')); ?>";

	<?php echo file_get_contents(__DIR__ . '/log-view.js'); ?>

	$(function() {
		var entryIdInput = jQuery('#entryId');
		if(entryIdInput.size()){
			var entryId = entryIdInput.val();
		    new LogView('entry-' + entryId, jQuery('body'), 'object', entryId, {
		    	conditions: {
		    		objectType: 'entry'
		    	}
		    });
		}
		
		var additionalDataContainers = jQuery('.additionalData');
		additionalDataContainers.each(function(index, element){
		    var idParts = element.id.split('_', 5);
		    var type = idParts[1];
		    var id = idParts[3];
		    if(idParts[4]){
		        id += '_' + idParts[4];
		    }
		    var container = jQuery(this).find('TD').first();
		    switch(type){
		        case 'flavor':
		        	container.attr('id', 'container-flavor-' + id);
		            new LogView('flavor-' + id, container, 'object', id, {
				    	conditions: {
				    		objectType: 'flavorasset'
				    	}
			    	});
		            break;
	
		        case 'thumb':
		        	container.attr('id', 'container-thumb-' + id);
		            new LogView('thumb-' + id, container, 'object', id, {
				    	conditions: {
				    		objectType: 'thumbasset'
				    	}
			    	});
		            break;
		            
		        case 'job':
		        	container.attr('id', 'container-job-' + id);
		            new LogView('job-' + id, container, 'job', id, {
				    	conditions: {
				    		objectType: 'batchjob'
				    	}
			    	});
		            break;
		    }
		});
	});
	
</script>


<style type="text/css">

	<?php echo file_get_contents(__DIR__ . '/log-view.css'); ?>

</style>
