<br/><br/>

<h2><?php echo $this->translate('entry-investigate attachment asset title'); ?></h2>
<table>
	<thead>
		<tr>
			<th><?php echo $this->translate('entry-investigate attachment asset id th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset createdAt th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset updatedAt th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset filename th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset format th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset title th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset description th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset partner description th'); ?></th>
			<th><?php echo $this->translate('entry-investigate attachment asset status th'); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php 
			if(is_array($this->attachmentAssets))
			{
				foreach($this->attachmentAssets as $attachmentAsset)
				{
					/* @var $attachmentAsset KontorolAttachmentAsset */
					$fileSyncs = array();
					if(isset($this->attachmentAssetsFileSyncs[$attachmentAsset->id]))
						$fileSyncs = $this->attachmentAssetsFileSyncs[$attachmentAsset->id];
						
					?>	
						<tr class="<?php echo $this->cycle(array('odd', 'even'), 'attachmentAssets')->next(); ?>">
							<td class="link" onclick="toggleView('tr_attachment_asset_data_<?php echo $attachmentAsset->id; ?>')"><?php echo $attachmentAsset->id; ?></td>
							<td><?php echo date($this->translate('date format'), $attachmentAsset->createdAt); ?></td>
							<td><?php echo date($this->translate('date format'), $attachmentAsset->updatedAt); ?></td>
							<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_Filename', $attachmentAsset->filename); ?></td>
							<td><?php echo $this->enumTranslate('Kontorol_Client_Attachment_Enum_AttachmentType', $attachmentAsset->format); ?></td>
							<td><?php echo $attachmentAsset->title; ?></td>
							<td><?php echo $attachmentAsset->description; ?></td>
							<td><?php echo $attachmentAsset->partnerDescription; ?></td>
							<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_FlavorAssetStatus', $attachmentAsset->status); ?></td>
						</tr>
						<tr class="additionalData" id="tr_attachment_asset_data_<?php echo $attachmentAsset->id; ?>" style="display: none">
							<td colspan="18">
								<?php 
								
									if($fileSyncs && count($fileSyncs))
									{
										?>
											<h3><?php echo $this->translate('entry-investigate files title'); ?></h3>
											<table>
												<thead>
													<tr>
														<th><?php echo $this->translate('entry-investigate files id th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files version th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files sub type th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files dc th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files original th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files created th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files ready time th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files sync time th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files status th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files type th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files link id th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files link count th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files root th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files path th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files size th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files disc size th'); ?></th>
													</tr>
												</thead>
												<tfoot>
												</tfoot>
												<tbody>
													<?php foreach($fileSyncs as $file): ?>
														<tr class="<?php echo $this->cycle(array('odd', 'even'), "attachmentFiles{$attachmentAsset->id}")->next(); ?>">
															<?php 
																if(strlen($file->fileContent))
																{
																	?>
																	<td class="link" onclick="toggleView('tr_filesync_data_<?php echo $file->id; ?>')"><?php echo $file->id; ?></td>
																	<?php
																}
																elseif($file->status == Kontorol_Client_FileSync_Enum_FileSyncStatus::READY)
																{
																	?><td><a href="<?php echo $file->fileUrl; ?>" target="_blank"><?php echo $file->id; ?></a></td><?php
																}
																else
																{
																	?><td><?php echo $file->id; ?></td><?php
																}
															?>
															<td><?php echo $file->version; ?></td>
															<td><?php echo $this->fileSyncSubTypeTranslate($file->fileObjectType, $file->objectSubType); ?></td>
															<td><?php echo $file->dc; ?></td>
															<td><?php echo $file->original; ?></td>
															<td><?php echo date($this->translate('time format'), $file->createdAt); ?></td>
															<td><?php echo date($this->translate('time format'), $file->readyAt); ?></td>
															<td><?php echo date($this->translate('time format'), $file->syncTime); ?></td>
															<td><?php echo $this->enumTranslate('Kontorol_Client_FileSync_Enum_FileSyncStatus', $file->status); ?></td>
															<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_FileSyncType', $file->fileType); ?></td>
															<td><?php echo $file->linkedId; ?></td>
															<td><?php echo $file->linkCount; ?></td>
															<td><?php echo $file->fileRoot; ?></td>
															<td><?php echo $file->filePath; ?></td>
															<td><?php echo $file->fileSize; ?></td>
															<td><?php echo $file->fileDiscSize; ?></td>
														</tr>
														<?php 
															if(strlen($file->fileContent))
															{
																?>
																<tr class="additionalData" id="tr_filesync_data_<?php echo $file->id; ?>" style="display: none">
																	<td colspan="15"><textarea rows="20" cols="150"><?php echo $file->fileContent; ?></textarea> </td>
																</tr>
																<?php
															}
														?>
													<?php endforeach; ?>
												</tbody>
											</table>
										<?php
									} 
								?>
							</td>
						</tr>
					<?php 
				}
			}
		?>
	</tbody>
</table>
