
<p><?php echo $this->translate('user role intro text'); ?></p>
<div id="list_admins_panel" class="panel">
	<table>
		<thead>
			<tr>
				<th><?php echo $this->translate('status'); ?></th>
				<th><?php echo $this->translate('id'); ?></th>
				<th><?php echo $this->translate('Name'); ?></th>
				<th><?php echo $this->translate('description'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
		<tr>
			<td colspan="6">
			<?php echo $this->paginator; ?>
			</td>
		</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as $user): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_UserRoleStatus', $user->status); ?></td>
				<td><?php echo $user->id; ?></td>
				<td><?php echo $user->name; ?></td>
				<td><?php echo $user->description; ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, '<?php echo $user->id; ?>') ">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
							<?php if (Infra_AclHelper::isAllowed('user','change-role')): ?>
							<option value="configure" ><?php echo $this->translate('configure'); ?></option>
							<?php endif; ?>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>

<script type="text/javascript">
function doAction(action, userId) {
	switch(action) {
		case 'configure':
			configure(userId);
			break;
	}
}


function configure(userId) {
	var url = '<?php echo $this->url(array('controller' => 'user', 'action' => 'user-role-configure', 'userId' => ''), null, true); ?>' + userId;
	//document.location = url;

	jQuery('#user-role-configure-dialog').remove();
	var dialogDiv = jQuery('<div id="user-role-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 570,
		height: 500,
		title: '<?php echo $this->translate('User Role Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('form').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery('#frmPaginator1').submit();
		}	
	});
	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('form').ajaxForm({
				success: function() { 
					dialogDiv.dialog('close');
				},
				iframe: true
			});
		}
	);
}

</script>

