<?php 
	$this->headScript()	->setIndent("	")
						->appendFile($this->baseUrl('codemirror/js/codemirror.js'));
?>

<p><?php echo $this->translate('uiconf-list intro text'); ?></p>
<?php echo $this->form; ?>
<?php echo $this->newButton; ?>
<div id="results" class="clear">
	<?php $count = $this->paginator->getItemsCount(); ?>
	<h2><?php echo $this->translate('Results'); ?><span> (<?php echo $count; ?> <?php echo $this->translate(array('widget', 'widgets', $count)); ?>)</span></h2>
	<table class="clear">
		<thead>
			<tr>
				<th><?php echo $this->translate('UI Conf ID'); ?></th>
				<th><?php echo $this->translate('UI Conf Name'); ?></th>
				<th><?php echo $this->translate('Type'); ?></th>
				<th><?php echo $this->translate('Publisher ID'); ?></th>
				<th><?php echo $this->translate('Publisher Name'); ?></th>
				<th><?php echo $this->translate('Width'); ?></th>
				<th><?php echo $this->translate('Height'); ?></th>
				<th><?php echo $this->translate('SWF Version'); ?></th>
				<th><?php echo $this->translate('HTML5 Version'); ?></th>
				<th><?php echo $this->translate('Created At'); ?></th>
				<th><?php echo $this->translate('Updated At'); ?></th>
				<th><?php echo $this->translate('Tags'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="16"><?php echo $this->paginator; ?></td>
			</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as /* Kontorol_Client_Type_UIConf */ $uiConf): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $uiConf->id; ?></td>
				<td><?php echo $uiConf->name; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_UiConfObjType', $uiConf->objType); ?></td>
				<td><?php echo $uiConf->partnerId; ?></td>
				<td><?php echo (isset($uiConf->partner)) ? $uiConf->partner->name : ''; ?></td>
				<td><?php echo $uiConf->width; ?></td>
				<td><?php echo $uiConf->height; ?></td>
				<td><?php echo $uiConf->swfUrlVersion; ?></td>
				<td><?php echo str_replace("/mwEmbedLoader.php","",str_replace("/html5/html5lib/","",$uiConf->html5Url)); ?></td>
				<td><?php echo $this->dateFormat($uiConf->createdAt, Zend_Date::DATE_LONG); ?></td>
				<td><?php echo $this->dateFormat($uiConf->updatedAt, Zend_Date::DATE_LONG); ?></td>
				<td><?php echo $uiConf->tags; ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $uiConf->id; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<?php if (Infra_AclHelper::isAllowed('widget','edit')): ?>
							<option value="editForm" ><?php echo $this->translate('Edit'); ?></option>
							<option value="externalEditForm" ><?php echo $this->translate('External Edit'); ?></option>
						<?php endif; ?>
						<?php if (Infra_AclHelper::isAllowed('widget','delete')): ?>
							<option value="deleteWidget" ><?php echo $this->translate('Delete'); ?></option>
						<?php endif; ?>
						<?php if (Infra_AclHelper::isAllowed('widget','duplicate')): ?>
							<option value="duplicateWidget" ><?php echo $this->translate('Duplicate'); ?></option>
						<?php endif; ?>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>


<script type="text/javascript">
jQuery('#filter_type').change(function() {
	if(this.value == "none") {
		$("#filter_text").css("display","none");
		$("div.help").hide();
	}
	else {
		$("#filter_text").css("display","inline");
		$("#filter_text input").focus();
		if(this.value == "free")
			$("div.help").show();
		else
			$("div.help").hide();
	}
});

jQuery('#filter_type').change();

function doAction(action, id) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}

function editForm(id) {
	var url = '<?php echo $this->url(array('controller' => 'widget', 'action' => 'edit'), null, true); ?>' + '/id/' + id;
	
	jQuery('#widget-dialog').remove();
	dialogDiv = jQuery('<div id="widget-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 390,
		height: Math.min(jQuery(window).height() * 0.9, 970),
		title: '<?php echo $this->translate('Edit UI Conf'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('form').submit();
			},
				'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		}
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('form').ajaxForm({
				success: formSubmit,
				iframe: true
			}); 
		}
	);
}

function externalEditForm(id) {
	var url = '<?php echo $this->url(array('controller' => 'widget', 'action' => 'external-edit'), null, true); ?>' + '/id/' + id;
	window.location = url;
}

function newForm(partnerId) {
	var url = '<?php echo $this->url(array('controller' => 'widget', 'action' => 'create'), null, true); ?>' + '/partner_id/' + partnerId;
	
	jQuery('#widget-dialog').remove();
	dialogDiv = jQuery('<div id="widget-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 390,
		height: Math.min(jQuery(window).height() * 0.9, 970),
		title: '<?php echo $this->translate('Add New UI Conf'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('form').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		}
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('form').ajaxForm({
				success: formSubmit,
				iframe: true
			}); 
		}
	);
}

function deleteWidget(id) {
	var ok = confirm('<?php echo $this->translate('are you sure delete uiconf?'); ?>');

	if (ok) {
		var url = '<?php echo $this->url(array('controller' => 'widget', 'action' => 'delete', 'id' => '')); ?>' + id;

		jQuery.ajax({
			url: url,
			dataType: 'json',
			success: function(result) {
				if (result != 'ok')
					return this.error();
				alert('<?php echo $this->translate('uiconf was deleted');?>');
				jQuery('#frmPaginator1').submit();
			},
			error: function() {
				alert('<?php echo $this->translate('uiconf was not deleted');?>');
			}
		});
	}
}

function duplicateWidget(id) {
	var url = '<?php echo $this->url(array('controller' => 'widget', 'action' => 'duplicate', 'id' => '')); ?>' + id;

	jQuery.ajax({
		url: url,
		dataType: 'json',
		success: function(result) {
			if (result != 'ok')
				return this.error();
			alert('<?php echo $this->translate('uiconf was duplicated');?>');
			jQuery('#frmPaginator1').submit();
		},
		error: function() {
			alert('<?php echo $this->translate('uiconf was not duplicated');?>');
		}
	});
}

function formSubmit(html) {
	jQuery('#widget-dialog').find('form').replaceWith(html);
	jQuery('#widget-dialog').find('form').ajaxForm({
		success: formSubmit,
		iframe: true
	});
}

</script>
