<br/><br/>

<h2><?php echo $this->translate('entry-investigate bpm title'); ?></h2>
<table>
	<thead>
		<tr>
			<th><?php echo $this->translate('entry-investigate bpm template id th'); ?></th>
			<th><?php echo $this->translate('entry-investigate bpm template name th'); ?></th>
			<th><?php echo $this->translate('entry-investigate bpm case id th'); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php 
			if(is_array($this->eventNotificationTemplates))
			{
				foreach($this->eventNotificationTemplates as $eventNotificationTemplate)
				{
					/* @var $eventNotificationTemplate Kontorol_Client_EventNotification_Type_EventNotificationTemplate */
					$case = $this->businessProcessCases[$eventNotificationTemplate->id];
					$caseUrl = $this->businessProcessCasesUrls[$eventNotificationTemplate->id];
					?>	
						<tr class="<?php echo $this->cycle(array('odd', 'even'), 'distributions')->next(); ?>">
							<td class="link" onclick="toggleView('tr_distribution_data_<?php echo $eventNotificationTemplate->id; ?>')"><?php echo $eventNotificationTemplate->id; ?></td>
							<td><?php echo $eventNotificationTemplate->name; ?></td>
							<td><?php echo $case->id; ?></td>
						</tr>
						<tr class="additionalData" id="tr_distribution_data_<?php echo $eventNotificationTemplate->id; ?>" style="display: none">
							<td colspan="18">
								<img src="<?php echo $caseUrl; ?>"/>
							</td>
						</tr>
					<?php 
				}
			}
		?>
	</tbody>
</table>
