<br/><br/>

<h2><?php echo $this->translate('entry-investigate caption asset title'); ?></h2>
<table>
	<thead>
		<tr>
			<th><?php echo $this->translate('entry-investigate caption asset id th'); ?></th>
			<th><?php echo $this->translate('entry-investigate caption asset createdAt th'); ?></th>
			<th><?php echo $this->translate('entry-investigate caption asset updatedAt th'); ?></th>
			<th><?php echo $this->translate('entry-investigate caption asset language th'); ?></th>
			<th><?php echo $this->translate('entry-investigate caption asset format th'); ?></th>
			<th><?php echo $this->translate('entry-investigate caption asset isDefault th'); ?></th>
			<th><?php echo $this->translate('entry-investigate caption asset label th'); ?></th>
			<th><?php echo $this->translate('entry-investigate caption asset status th'); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php 
			if(is_array($this->captionAssets))
			{
				foreach($this->captionAssets as $captionAsset)
				{
					$fileSyncs = array();
					if(isset($this->captionAssetsFileSyncs[$captionAsset->id]))
						$fileSyncs = $this->captionAssetsFileSyncs[$captionAsset->id];
						
					?>	
						<tr class="<?php echo $this->cycle(array('odd', 'even'), 'captionAssets')->next(); ?>">
							<td class="link" onclick="toggleView('tr_caption_asset_data_<?php echo $captionAsset->id; ?>')"><?php echo $captionAsset->id; ?></td>
							<td><?php echo date($this->translate('date format'), $captionAsset->createdAt); ?></td>
							<td><?php echo date($this->translate('date format'), $captionAsset->updatedAt); ?></td>
							<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_Language', $captionAsset->language); ?></td>
							<td><?php echo $this->enumTranslate('Kontorol_Client_Caption_Enum_CaptionType', $captionAsset->format); ?></td>
							<td><?php echo $captionAsset->isDefault; ?></td>
							<td><?php echo $captionAsset->label; ?></td>
							<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_FlavorAssetStatus', $captionAsset->status); ?></td>
						</tr>
						<tr class="additionalData" id="tr_caption_asset_data_<?php echo $captionAsset->id; ?>" style="display: none">
							<td colspan="18">
								<?php 
								
									if($fileSyncs && count($fileSyncs))
									{
										?>
											<h3><?php echo $this->translate('entry-investigate files title'); ?></h3>
											<table>
												<thead>
													<tr>
														<th><?php echo $this->translate('entry-investigate files id th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files version th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files sub type th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files dc th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files original th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files created th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files ready time th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files sync time th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files status th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files type th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files link id th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files link count th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files root th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files path th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files size th'); ?></th>
														<th><?php echo $this->translate('entry-investigate files disc size th'); ?></th>
													</tr>
												</thead>
												<tfoot>
												</tfoot>
												<tbody>
													<?php foreach($fileSyncs as $file): ?>
														<tr class="<?php echo $this->cycle(array('odd', 'even'), "captionFiles{$captionAsset->id}")->next(); ?>">
															<?php 
																if(strlen($file->fileContent))
																{
																	?>
																	<td class="link" onclick="toggleView('tr_filesync_data_<?php echo $file->id; ?>')"><?php echo $file->id; ?></td>
																	<?php
																}
																elseif($file->status == Kontorol_Client_FileSync_Enum_FileSyncStatus::READY)
																{
																	?><td><a href="<?php echo $file->fileUrl; ?>" target="_blank"><?php echo $file->id; ?></a></td><?php
																}
																else
																{
																	?><td><?php echo $file->id; ?></td><?php
																}
															?>
															<td><?php echo $file->version; ?></td>
															<td><?php echo $this->fileSyncSubTypeTranslate($file->fileObjectType, $file->objectSubType); ?></td>
															<td><?php echo $file->dc; ?></td>
															<td><?php echo $file->original; ?></td>
															<td><?php echo date($this->translate('time format'), $file->createdAt); ?></td>
															<td><?php echo date($this->translate('time format'), $file->readyAt); ?></td>
															<td><?php echo date($this->translate('time format'), $file->syncTime); ?></td>
															<td><?php echo $this->enumTranslate('Kontorol_Client_FileSync_Enum_FileSyncStatus', $file->status); ?></td>
															<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_FileSyncType', $file->fileType); ?></td>
															<td><?php echo $file->linkedId; ?></td>
															<td><?php echo $file->linkCount; ?></td>
															<td><?php echo $file->fileRoot; ?></td>
															<td><?php echo $file->filePath; ?></td>
															<td><?php echo $file->fileSize; ?></td>
															<td><?php echo $file->fileDiscSize; ?></td>
														</tr>
														<?php 
															if(strlen($file->fileContent))
															{
																?>
																<tr class="additionalData" id="tr_filesync_data_<?php echo $file->id; ?>" style="display: none">
																	<td colspan="15"><textarea rows="20" cols="150"><?php echo $file->fileContent; ?></textarea> </td>
																</tr>
																<?php
															}
														?>
													<?php endforeach; ?>
												</tbody>
											</table>
										<?php
									} 
								?>
							</td>
						</tr>
					<?php 
				}
			}
		?>
	</tbody>
</table>
