<?php if($this->errMessage): ?>
<div class="error"><?php echo $this->errMessage ?></div><br/>
<?php endif; ?>

<?php
	$this->form->setAction($this->url(array('controller' => 'plugin', 'action' => 'DropFolderConfigureAction')));
	echo $this->form;
?>

<script type="text/javascript">

function fileDeletePolicy() {
	$("select#fileDeletePolicy").each(function(inx, value){
		var $input = $(value);
		$input.change(function(){
			var $autoFileDeleteDays = $('#autoFileDeleteDays');
			var $autoFileDeleteDaysLabel = $('#autoFileDeleteDays-label');
			
			if ($input.val() == 1) {
				$autoFileDeleteDays.attr("hidden", true);
				$autoFileDeleteDaysLabel.attr("hidden", true);
				$autoFileDeleteDays.val('0');
		    }else{
		    	$autoFileDeleteDays.attr("hidden", false);
		    	$autoFileDeleteDaysLabel.attr("hidden", false);
		    }
		});

		var $autoFileDeleteDays = $('#autoFileDeleteDays');
		var $autoFileDeleteDaysLabel = $('#autoFileDeleteDays-label');
		
		if( $input.attr('type') == 'select-one'){
			if ($input.val() == 1) {
				$autoFileDeleteDays.attr("hidden", true);
				$autoFileDeleteDaysLabel.attr("hidden", true);
				$autoFileDeleteDays.val('0');
		    }else{
		    	$autoFileDeleteDays.attr("hidden", false);
		    	$autoFileDeleteDaysLabel.attr("hidden", false);
		    }
		}
	});}

function handlerTypeChanged()
{
	curValue = jQuery('#frmDropFolderConfigure #fileHandlerType').val();
	patterns = jQuery('#fileNamePatterns');
	patternsLbl = jQuery('#fileNamePatterns-label');
	validateKS = jQuery('#shouldValidateKS');
	validateKSLbl = jQuery("[for='shouldValidateKS']");
	allFileHandlers = jQuery(".contentFileHandler");
	currentFileHandler = jQuery("#frmContentFileHandlerConfig" + curValue.replace('.', '_'));

	allFileHandlers.css("display","none");
	currentFileHandler.css("display","inline");
	
	if (curValue == <?php echo Kontorol_Client_DropFolder_Enum_DropFolderFileHandlerType::CONTENT; ?>) {
		patterns.hide();
		patternsLbl.hide();
		validateKS.hide();
		validateKSLbl.hide();
	}
	else {
		patterns.show();
		patternsLbl.show();
		validateKS.show();
		validateKSLbl.show();
	}	
}

jQuery(function() {
	handlerTypeChanged();
	fileDeletePolicy();
	
	<?php if ($this->formValid): ?>
		dialogDiv.dialog('close');
		jQuery('#frmPaginator1').submit();
	<?php endif; ?>
});

</script>

