
<p><?php echo $this->translate('drop folder list intro text'); ?></p>
<?php echo $this->filterForm; ?>
<?php echo $this->newFolderForm; ?>
<div id="drop_folder_list_div" class="clear">
	<table>
		<thead>
			<tr>
				<th><?php echo $this->translate('ID'); ?></th>
				<th><?php echo $this->translate('Status'); ?></th>
				<th><?php echo $this->translate('Name'); ?></th>
				<th><?php echo $this->translate('Publisher ID'); ?></th>
				<th><?php echo $this->translate('Type'); ?></th>
				<th><?php echo $this->translate('Ingestion Profile ID'); ?></th>
				<th><?php echo $this->translate('Handler Type'); ?></th>
				<th><?php echo $this->translate('Tags'); ?></th>
				<th><?php echo $this->translate('Creation Date'); ?></th>
				<th><?php echo $this->translate('Error Message'); ?></th>
				<th><?php echo $this->translate('Error Code'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
		<tr>
			<td colspan="12">
			<?php echo $this->paginator; ?>
			</td>
		</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as $dropFolder): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $dropFolder->id; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_DropFolder_Enum_DropFolderStatus', $dropFolder->status); ?></td>
				<td><?php echo $dropFolder->name; ?></td>
				<td><?php echo $dropFolder->partnerId; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_DropFolder_Enum_DropFolderType', $dropFolder->type); ?></td>
				<td><?php echo $dropFolder->conversionProfileId ? $dropFolder->conversionProfileId : 'None defined'; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_DropFolder_Enum_DropFolderFileHandlerType', $dropFolder->fileHandlerType); ?></td>
				<td><?php echo $dropFolder->tags; ?></td>
				<td><?php echo date($this->translate('time format'), $dropFolder->createdAt); ?></td>
				<td><?php echo $dropFolder->errorDescription; ?></td>
				<td><?php echo $dropFolder->errorCode; ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $dropFolder->id; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<option value="configureDropFolder" ><?php echo $this->translate('Configure'); ?></option>
						<?php if ($dropFolder->status === Kontorol_Client_DropFolder_Enum_DropFolderStatus::DISABLED): ?>
							<option value="enable" ><?php echo $this->translate('Enable'); ?></option>
						<?php elseif ($dropFolder->status === Kontorol_Client_DropFolder_Enum_DropFolderStatus::ENABLED || $dropFolder->status === Kontorol_Client_DropFolder_Enum_DropFolderStatus::ERROR): ?>
							<option value="disable" ><?php echo $this->translate('Disable'); ?></option>
						<?php endif; ?>
						<option value="remove" ><?php echo $this->translate('Remove'); ?></option>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>

<script type="text/javascript">
$(function(){
	addSubTitle('Drop Folder Profiles');
});

jQuery('#filter_type').change(function() {
	if(this.value == "none") {
		$("#filter_text").css("display","none");
	}
	else {
		$("#filter_text").css("display","inline");
		$("#filter_text input").focus();
	}
});

jQuery('#filter_type').change();

function doAction(action, folderId) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}


function enable(folderId)
{
	changeStatus(
		folderId,
		<?php echo Kontorol_Client_DropFolder_Enum_DropFolderStatus::ENABLED; ?>,
		function() {
			alert('<?php echo $this->translate('Drop folder enabled');?>');
		}
	);
}

function disable(folderId)
{
	changeStatus(
		folderId,
		<?php echo Kontorol_Client_DropFolder_Enum_DropFolderStatus::DISABLED; ?>,
		function() {
			alert('<?php echo $this->translate('Drop folder disabled');?>');
		}
	);
}

function remove(folderId)
{
	var ok = confirm('<?php echo $this->translate('Are you sure you want to remove drop folder ?'); ?>');
	if (ok)
	{
		changeStatus(
			folderId,
			<?php echo Kontorol_Client_DropFolder_Enum_DropFolderStatus::DELETED; ?>,
			function() {
				alert('<?php echo $this->translate('Drop folder removed');?>');
			}
		);
	}
}

function changeStatus(folderId, status, callback)
{
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'DropFolderSetStatusAction', 'dropFolderId' => 'FOLDERID', 'dropFolderStatus' => 'STATUS')); ?>';
	url = url.replace('STATUS', status);
	url = url.replace('FOLDERID', folderId);
	jQuery.ajax({
		url: url,
		dataType: 'json',
		success: function(result) {
			if (result != 'ok')
				this.error();

			if (callback && (typeof callback == 'function'))
			{
				callback.apply(this);
			}
			jQuery('#frmPaginator1').submit();
		},
		error: function() {
			alert('<?php echo $this->translate('an error occured'); ?>');
		}
	});
}


function newDropFolder(partnerId, dropFolderType)
{
	if(!partnerId.length || isNaN(partnerId)){
		alert('<?php echo $this->translate('Publisher ID not supplied'); ?>');
		return;
	}

	if(!dropFolderType.length){
		alert('<?php echo $this->translate('Drop folder type not supplied'); ?>');
		return;
	}

	paramsStr = '/new_partner_id/' + partnerId + '/new_drop_folder_type/' + dropFolderType;

	loadDropFolder(paramsStr);
}

function configureDropFolder(folderId)
{
	if(typeof folderId == 'undefined'){
		alert('<?php echo $this->translate('Drop folder ID not supplied'); ?>');
		return;
	}

	folderIdStr = '/drop_folder_id/' + folderId;

	loadDropFolder(folderIdStr);
}


function loadDropFolder(paramStr)
{	
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'DropFolderConfigureAction')); ?>' + paramStr;

	jQuery('#drop-folder-configure-dialog').remove();
	dialogDiv = jQuery('<div id="drop-folder-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');

	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 600,
		height: 600,
		title: '<?php echo $this->translate('Drop Folder Profile'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmDropFolderConfigure').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		}
	});

	dialogDiv.load(
		url,
		null,
		function() {
			jQuery(this).find('#frmDropFolderConfigure').ajaxForm({
				success: loadDropFolderSuccess,
				iframe: true
			});
		}
	);
}


function loadDropFolderSuccess(html) {
	if (jQuery(html).filter('#frmDropFolderConfigure').hasClass('valid'))
	{
		dialogDiv.dialog('close');
		if (jQuery('#frmPaginator1').length){
			jQuery('#frmPaginator1').submit();
		}
		else {
			jQuery('#frmPartnerIdFilter').submit();
		}
	}
	jQuery('#frmDropFolderConfigure').replaceWith(html);
	jQuery('#frmDropFolderConfigure').ajaxForm({
		success: loadDropFolderSuccess,
		iframe: true
	});
}




</script>
