<?php if (!$this->allowed) {echo $this->translate('This partner is not allowed to use Reach'); return;} ?>
<p><?php echo $this->translate('Here you can configure your Reach profiles'); ?></p>
<?php echo $this->filterForm; ?>
<?php echo $this->newReachProfileFolderForm; ?>
<?php echo $this->cloneReachProfileForm; ?>

<div id="reach_profile_list_div" class="clear">
	<table>
		<thead>
		<tr>
			<th><?php echo $this->translate('ID'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
			<th><?php echo $this->translate('Status'); ?></th>
			<th><?php echo $this->translate('Profile Type'); ?></th>
			<th><?php echo $this->translate('Publisher ID'); ?></th>
			<th><?php echo $this->translate('Credit Type'); ?></th>
			<th><?php echo $this->translate('Remaining Credit'); ?></th>
			<th><?php echo $this->translate('Creation Date'); ?></th>
			<th><?php echo $this->translate('Last Updated Date'); ?></th>
			<th><?php echo $this->translate('Action'); ?></th>
		</tr>
		</thead>
		<tfoot>
		<tr>
			<td colspan="10">
				<?php echo $this->paginator; ?>
			</td>
		</tr>
		</tfoot>
		<tbody>

		<?php foreach($this->paginator as /* Kontorol_Client_Reach_Type_ReachProfile */ $reachProfile): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $reachProfile->id; ?></td>
                <td><?php echo $reachProfile->name; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Reach_Enum_ReachProfileStatus', $reachProfile->status); ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Reach_Enum_ReachProfileType', $reachProfile->profileType); ?></td>
				<td><?php echo $reachProfile->partnerId; ?></td>
				<td><?php echo (is_null($reachProfile->credit) ? "-" : $this->translate(get_class($reachProfile->credit))); ?></td>
				<td><?php
					if(get_class($reachProfile->credit) == "Kontorol_Client_Reach_Type_UnlimitedVendorCredit")
					    echo "Unlimited";
					else
					    echo (( $reachProfile->credit->credit + $reachProfile->credit->addOn) - $reachProfile->usedCredit); ?>
				</td>
				<td><?php echo date($this->translate('time format'), $reachProfile->createdAt); ?></td>
				<td><?php echo date($this->translate('time format'), $reachProfile->updatedAt); ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $reachProfile->id;?>, <?php echo $reachProfile->partnerId; ?>, <?php if(is_null($reachProfile->credit)) echo "'Null'"; else echo "'" . get_class($reachProfile->credit) . "'"; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<option value="configureReachProfile" ><?php echo $this->translate('Configure'); ?></option>
						<?php if ($reachProfile->status === Kontorol_Client_Reach_Enum_ReachProfileStatus::DISABLED): ?>
							<option value="enable" ><?php echo $this->translate('Enable'); ?></option>
						<?php elseif ($reachProfile->status === Kontorol_Client_Reach_Enum_ReachProfileStatus::ACTIVE): ?>
							<option value="disable" ><?php echo $this->translate('Disable'); ?></option>
						<?php endif; ?>
						<option value="remove" ><?php echo $this->translate('Remove'); ?></option>
					</select>
				</td>
			</tr>
		<?php endforeach; ?>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	var epocToMonthsField= ['fromDate', 'toDate'];

	jQuery('#filter_type').change(function() {
		if(this.value == "none") {
			$("#filter_text").css("display","none");
		}
		else {
			$("#filter_text").css("display","inline");
			$("#filter_text input").focus();
			if(this.value == "free")
				$("div.help").show();
			else
				$("div.help").hide();
		}
	});

	jQuery('#filter_type').change();

	function doAction(action, folderId) {
		if (action && eval('typeof ' + action) == 'function')
		{
			f = eval(action);
			Array.prototype.shift.apply(arguments);
			f.apply(this, arguments);
		}
		jQuery('select.options').val('');
	}

	function enable(reachProfileId, partnerId)
	{
		changeStatus(
			reachProfileId,

			<?php echo Kontorol_Client_Reach_Enum_ReachProfileStatus::ACTIVE; ?>,
			partnerId,
			function() {
				alert('<?php echo $this->translate('Reach Profile enabled');?>');
			}
		);
	}

	function disable(reachProfileId,partnerId)
	{
		changeStatus(
			reachProfileId,
			<?php echo Kontorol_Client_Reach_Enum_ReachProfileStatus::DISABLED; ?>,
			partnerId,
			function() {
				alert('<?php echo $this->translate('Reach Profile disabled');?>');
			}
		);
	}

	function remove(reachProfileId,partnerId)
	{
		var ok = confirm('<?php echo $this->translate('Are you sure you want to remove Reach Profile ?'); ?>');
		if (ok)
		{
			changeStatus(
				reachProfileId,
				<?php echo Kontorol_Client_Reach_Enum_ReachProfileStatus::DELETED; ?>,
				partnerId,
				function() {
					alert('<?php echo $this->translate('Reach Profile removed');?>');
				}
			);
		}
	}

	function cloneReachProfile(partnerId, profileId )
	{
		if(!partnerId.length || isNaN(partnerId)){
			alert('<?php echo $this->translate('Publisher ID not supplied'); ?>');
			return;
		}

		if(!profileId.length || isNaN(profileId)){
			alert('<?php echo $this->translate('Profile ID not supplied'); ?>');
			return;
		}

		var ok = confirm('<?php echo $this->translate('Are you sure you want to clone Reach Profile ?'); ?>');
		if (ok)
		{
			cloneProfile(
				partnerId,
				profileId,
				function() {
					alert('<?php echo $this->translate('Reach Profile cloned');?>');
				}
			);
		}
	}

	function changeStatus(reachProfileId, status, partnerId, callback)
	{
		var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'ReachProfileSetStatusAction', 'reachProfileId' => 'REACHPROFILEID','partnerId' => 'PARTNERID', 'reachProfileStatus' => 'STATUS')); ?>';
		url = url.replace('STATUS', status);
		url = url.replace('REACHPROFILEID', reachProfileId);
		url = url.replace('PARTNERID', partnerId);
		jQuery.ajax({
			url: url,
			dataType: 'json',
			success: function(result) {
				if (result != 'ok')
				{
					this.error(result);
				}
				else
				{
					if (callback && (typeof callback == 'function'))
					{
						callback.apply(this);
					}
				}
				jQuery('#frmPaginator1').submit();
			},
			error: function(result) {
				alert(result);
			}
		});
	}

	function cloneProfile(partnerId, reachProfileId, callback)
	{
		var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'ReachProfileCloneAction', 'reachProfileId' => 'REACHPROFILEID','partnerId' => 'PARTNERID')); ?>';
		url = url.replace('REACHPROFILEID', reachProfileId);
		url = url.replace('PARTNERID', partnerId);
		jQuery.ajax({
			url: url,
			dataType: 'json',
			success: function(result) {
				if (result != 'ok')
					this.error(result);
				else
				{
					if (callback && (typeof callback == 'function'))
					{
						callback.apply(this);
					}
				}
				jQuery('#frmPaginator1').submit();
			},
			error: function(result) {
				alert(JSON.stringify(result));
			}
		});
	}

	function addReachProfile(partnerId)
	{
		if(!partnerId.length || isNaN(partnerId)){
			alert('<?php echo $this->translate('Publisher ID not supplied'); ?>');
			return;
		}

		var paramsStr = '/creditHandlerClass/Null' + '/new_partner_id/' + partnerId;

		loadReachProfile(paramsStr);
	}

	function configureReachProfile(reachProfileId, partnerId, credit)
	{
		if(typeof reachProfileId == 'undefined'){
			alert('<?php echo $this->translate('Reach Profile ID not supplied'); ?>');
			return;
		}

		var reachProfileIdStr = '/reach_profile_id/' + reachProfileId + '/creditHandlerClass/'+credit + '/new_partner_id/' + partnerId ;

		var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'ReachProfileConfigureAction')); ?>' + reachProfileIdStr;

		jQuery('#reach-profile-configure-dialog').remove();
		dialogDiv = jQuery('<div id="reach-profile-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');

		dialogDiv.dialog({
			bgiframe: true,
			modal: true,
			resizable: false,
			width: 600,
			height: 600,
			title: '<?php echo $this->translate('Reach Profile'); ?>',
			buttons: {
				'<?php echo $this->translate('Save'); ?>': function() {
					removeDisableTags();
					convertDates();
					loadArrayObjectsData();
					jQuery(this).find('#frmReachProfileConfigure').submit();
				},
				'<?php echo $this->translate('Close'); ?>': function() {
					jQuery(this).dialog('close');
				}
			},
			close: function() {
				jQuery(this).dialog('destroy').remove();
			}
		});

		dialogDiv.load(
			url,
			null,
			function() {
				addDisableTags();
				jQuery(this).find('#frmReachProfileConfigure').ajaxForm({
					success: loadReachProfileSuccess,
					iframe: true
				});
			}
		);
	}

	function removeDisableTags()
	{
		jQuery('#rule-fieldSet').removeAttr('disabled');
		jQuery('#dictionary-fieldSet').removeAttr('disabled');
	}

	function addDisableTags()
	{
		jQuery('#rule-fieldSet').attr('disabled', 'disabled');
		jQuery('#dictionary-fieldSet');
	}

	function loadReachProfile(paramStr)
	{
		var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'ReachProfileConfigureAction')); ?>' + paramStr;

		jQuery('#reach-profile-configure-dialog').remove();
		dialogDiv = jQuery('<div id="reach-profile-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');

		dialogDiv.dialog({
			bgiframe: true,
			modal: true,
			resizable: false,
			width: 600,
			height: 600,
			title: '<?php echo $this->translate('Reach Profile'); ?>',
			buttons: {
				'<?php echo $this->translate('Save'); ?>': function() {
					jQuery('.ui-widget-overlay').css('z-index', 1003 );
					jQuery('#loader').show();
					loadArrayObjectsData();
					convertDates();
					jQuery(this).find('#frmReachProfileConfigure').submit();
				},
				'<?php echo $this->translate('Close'); ?>': function() {
					jQuery(this).dialog('close');
				}
			},
			close: function() {
				jQuery(this).dialog('destroy').remove();
			}
		});

		dialogDiv.load(
			url,
			null,
			function() {
				jQuery(this).find('#frmReachProfileConfigure').ajaxForm({
					success: loadReachProfileSuccess,
					iframe: true
				});
			}
		);
	}

	function loadArrayObjectsData() {
		//remove all template field
		$('fieldset[id^="reachProfileRuleTemplate"]').remove();
		setRuleData();
		//remove all template field
		$('fieldset[id^="DictionaryTemplate"]').remove();
		setDictionaryData();
	}
    
	function setRuleData() {
		var rules = [];
		var currentIndex = 0;
		$('[description^=AutomaticAdminConsoleRule]').each(function(idx){
			var newRule= buildOutputParams($( this ).attr("id"), currentIndex);
			rules.push(newRule);
		});
		
		
		jQuery('#ReachProfileRules').val(JSON.stringify(rules));
	}

    function buildOutputParams(paramName, index) {
	    var param = {};
        jQuery('#' + paramName).find('input,select').each(function(idx) {
            var type = $( this ).attr("type");
            var name = $( this ).attr("name");
            var val = $( this ).val();
            if (type == 'hidden')
                return;
            param[name] = val;
            $(this).remove();
        });
        return param;
    }

	function loadReachProfileSuccess(html) {
		if (jQuery(html).filter('#frmReachProfileConfigure').hasClass('valid'))
		{
			dialogDiv.dialog('close');
			if (jQuery('#frmPaginator1').length){
				jQuery('#frmPaginator1').submit();
			}
			else {
				jQuery('#frmPartnerIdFilter').submit();
			}
		}
		jQuery('.ui-widget-overlay').css('z-index', 1000 );
		jQuery('#loader').hide();
		jQuery('#frmReachProfileConfigure').replaceWith(html);
		jQuery('#frmReachProfileConfigure').ajaxForm({
			success: loadReachProfileSuccess,
			iframe: true
		});
	}

	function convertDates()
	{
		var f = jQuery('#frmReachProfileConfigure');
		f.find( "input[innertype=DateElement]").each(function(idx) {
			var val = $(this).val();
			if (isDatesFormat(val)) {
				$(this).val(getEpochTime(val));
				return;
			}
			var id = this.id;
			if (val != 'N/A' && epocToMonthsField.some(function(v) { return id.indexOf(v) >= 0;}))
				$(this).val(val * 2592000); // 60*60*24*30 - set relative in seconds from relative months
		});
	}

	function isDatesFormat(val) {
		var dateParts = val.split('.');
		if (dateParts.length != 3 )
			return false;
		if (dateParts[0].length != 4|| dateParts[1].length != 2 || dateParts[2].length > 2)
		{
			alert("Not a valid Date");
			return false;
		}
		if (dateParts[0].length != 4 || dateParts[1].length != 2 || dateParts[2].length != 2)
			return false;
		return true;
	}

	function getEpochTime(val) {
		val = val.replace(/\./g, "/");
		var epoch = new Date(val).getTime() / 1000 + 3600*4; // + 4 hour for not slide a day backward in for time zones
		if (epoch)
			return epoch;
		alert("Date is not valid.");
		return null;
	}
	function checkNumValid(val) {
		if (isDatesFormat(val)) {
			val = val.replace(/\./g, "/");
			if(isNaN((new Date(val)).getTime()))
				alert("Not a valid Date!");
			return;
		}
	}


	function setDictionaryData() {
		var dictionaries = [];
		var maxDictionariesIndex = jQuery('#dictionary-fieldSet').attr('maxDictionariesIndex');
		for(i=0; i<=maxDictionariesIndex; i++)
		{
			if(jQuery('#Dictionary_' + i).length > 0)
			{
				var dictionary = (buildDictionaryParams('Dictionary_', i));
				if (dictionary)
					dictionaries.push(dictionary);
			}
		}
		if (dictionaries.length>0)
			jQuery('#ReachProfileDictionaries').val(JSON.stringify(dictionaries));
	}

	function buildDictionaryParams(paramName, index ) {
		var param = {};
		var isValid = true;
		jQuery('#' + paramName + index).find('input,select,textarea').each(function (idx) {
			var type = $(this).attr("type");
			var name = $(this).attr("name");
			var val = $(this).val();
			if (type == 'hidden')
				return;
			if ( !val || val == 'N/A')
				isValid = false;
			param[name] = val;
			$(this).remove();
		});
		if (isValid )
			return param;
		else
			return null;
	}
</script>
