<?php if (!$this->allowed) {
	echo $this->translate('This partner is not allowed to use Reach');
	return;
} ?>
<?php echo $this->filterForm; ?>
<?php echo $this->newEntryVendorTaskFolderForm; ?>
<div id="entry_vendor_task_list_div" class="clear">
	<li>    <?php echo $this->translate('Auto Refresh') ?> <span>(every <?php echo $this->getConfigValue('refreshInterval30Sec'); ?> seconds)</span>:&nbsp;
		<a href="#" id="cmdToggleRefresh" onclick="toggleRefresh();return false;"> <?php echo $this->translate('Pause Auto-Refresh'); ?></a> &nbsp;|&nbsp;
		<a href="#" onclick="refreshPage();return false;"><?php echo $this->translate('Refresh Now'); ?></a>
	</li>
	<table>
		<thead>
		<tr>
			<th><?php echo $this->translate('ID'); ?></th>
			<th><?php echo $this->translate('Publisher ID'); ?></th>
			<th><?php echo $this->translate('Vendor Partner ID'); ?></th>
			<th><?php echo $this->translate('Entry ID'); ?></th>
			<th><?php echo $this->translate('Creation Date'); ?></th>
			<th><?php echo $this->translate('Service Type'); ?></th>
			<th><?php echo $this->translate('Service Feature'); ?></th>
			<th><?php echo $this->translate('Turn Around Time'); ?></th>
			<th><?php echo $this->translate('Due Date'); ?></th>
			<th><?php echo $this->translate('Status'); ?></th>
			<th><?php echo $this->translate('Error Description'); ?></th>

		</tr>
		</thead>
		<tfoot>
		<tr>
			<td colspan="14">
				<?php echo $this->paginator; ?>
			</td>
		</tr>
		</tfoot>
		<tbody>
		<?php if($this->paginator)
		    foreach($this->paginator as /* Kontorol_Client_Reach_Type_EntryVendorTask */ $entryVendorTask): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $entryVendorTask->id; ?></td>
				<td><?php echo $entryVendorTask->partnerId; ?></td>
				<td><?php echo $entryVendorTask->vendorPartnerId; ?></td>
				<td><?php echo $entryVendorTask->entryId; ?></td>
				<td><?php echo date($this->translate('time format'), $entryVendorTask->createdAt); ?></td>
				<td><?php if (isset($entryVendorTask->serviceType))
					        echo $this->enumTranslate('Kontorol_Client_Reach_Enum_VendorServiceType', $entryVendorTask->serviceType); ?></td>
				<td><?php if (isset($entryVendorTask->serviceFeature))
						echo $this->enumTranslate('Kontorol_Client_Reach_Enum_VendorServiceFeature', $entryVendorTask->serviceFeature); ?></td>
				<td><?php if (isset($entryVendorTask->turnAroundTime))
				        	echo $this->enumTranslate('Kontorol_Client_Reach_Enum_VendorServiceTurnAroundTime', $entryVendorTask->turnAroundTime);
					else if (isset($entryVendorTask->expectedFinishTime) && $entryVendorTask->expectedFinishTime - $entryVendorTask->queueTime == 604800)
						echo $this->enumTranslate('Kontorol_Client_Reach_Enum_VendorServiceTurnAroundTime', -1);
					else if (isset($entryVendorTask->expectedFinishTime))
						echo  $this->enumTranslate('Kontorol_Client_Reach_Enum_VendorServiceTurnAroundTime', $entryVendorTask->expectedFinishTime - $entryVendorTask->queueTime); ?></td>
				<td><?php if (isset($entryVendorTask->expectedFinishTime))
				        echo date($this->translate('time format'), $entryVendorTask->expectedFinishTime); ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Reach_Enum_EntryVendorTaskStatus', $entryVendorTask->status); ?></td>
				<td><?php echo $entryVendorTask->errDescription; ?></td>
	            	</tr>
		<?php endforeach; ?>
		</tbody>
	</table>
</div>

<script type="text/javascript">

    jQuery('#filter_type').change(function () {
        if (this.value == "none") {
            $("#filter_text").css("display", "none");
        }
        else {
            $("#filter_text").css("display", "inline");
            $("#filter_text input").focus();
            if (this.value == "free")
                $("div.help").show();
            else
                $("div.help").hide();
        }
    });

    jQuery('#filter_type').change();

    function exportToCsv(filterType, filterInput, status, dueDate){
        dueDate =  dueDate.replace('+','%2B');
        var paramsStr =  '/filter_type/' + filterType + '/filter_input/' + filterInput + '/filter_status/' + status + '/due_date/' +  dueDate;
        var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'ReachRequestsExportAction')); ?>' + paramsStr;

        jQuery('#reach-requests-export-dialog').remove();
        dialogDiv = jQuery('<div id="reach-requests-export-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');

        dialogDiv.dialog({
            bgiframe: true,
            modal: true,
            resizable: true,
            wordWrap: "break-word",
            wordwrap: "breakword",
            width: 500,
            title: '<?php echo $this->translate('CSV Export Link'); ?>',
            buttons: {
                '<?php echo $this->translate('Close'); ?>': function () {
                    jQuery(this).dialog('close');
                }
            },
            close: function () {
                jQuery(this).dialog('destroy').remove();
            }
        });

        dialogDiv.load(
            url,
            null,
            null
        );
    }


    function refreshPage()
    {
        pauseRefresh();

        var frm = document.getElementById("frmReachRequestsList");
        frm.reset();
        frm.submit();
    }

    function setRefreshTimer()
    {
        intervalPointer = setTimeout(refreshPage, <?php echo $this->getConfigValue('refreshInterval30Sec'); ?> * 1000);
    }

    function pauseRefresh()
    {
        clearTimeout(intervalPointer);
        intervalPointer = null;
    }

    function toggleRefresh()
    {
        if(intervalPointer == null)
        {
            setRefreshTimer();
            document.getElementById("cmdToggleRefresh").innerHTML = "<?php echo $this->translate('Pause Auto-Refresh'); ?>";
        }
        else
        {
            pauseRefresh();
            document.getElementById("cmdToggleRefresh").innerHTML = "<?php echo $this->translate('Resume Auto-Refresh'); ?>";
        }
    }

    setRefreshTimer();

</script>
