<form
	action="<?php echo $this->url ( array ('controller' => 'partner', 'action' => 'configure-storage' )); ?>"
	method="post" enctype="application/x-www-form-urlencoded"
	id="frmStorageConfig" class="<?php echo ($this->formValid) ? 'valid' : 'invalid'; ?>">

<?php echo $this->form; ?>

<script type="text/javascript">
jQuery('[class=commentForm]').toggle();

jQuery(document).ready(function() {
	// Get selected storage protocol
	var protocolUpdateView = function( protocol ) {

		setKeyPairSettings(false);

		switch ( protocol )
		{
		case "<?php echo Kontorol_Client_Enum_StorageProfileProtocol::S3?>":
			jQuery('#filesPermissionInS3-label').css('visibility', 'visible');
			jQuery('#filesPermissionInS3').css('visibility', 'visible');
			jQuery('#s3Region-label').css('visibility', 'visible');
			jQuery('#s3Region').css('visibility', 'visible');
			jQuery('#sseType-label').css('visibility', 'visible');
			jQuery('#sseType').css('visibility', 'visible');
			jQuery('#sseKmsKeyId-label').css('visibility', 'visible');
			jQuery('#sseKmsKeyId').css('visibility', 'visible');
			jQuery('#signatureType-label').css('visibility', 'visible');
			jQuery('#signatureType').css('visibility', 'visible');
			jQuery('#endPoint-label').css('visibility', 'visible');
			jQuery('#endPoint').css('visibility', 'visible');
			jQuery('#storageFtpPassiveMode').css('visibility', 'hidden');
			jQuery('#storageFtpPassiveMode-label').css('visibility', 'hidden');
			break;
		case "<?php echo Kontorol_Client_Enum_StorageProfileProtocol::FTP?>":
			jQuery('#storageFtpPassiveMode').css('visibility', 'visible');
			jQuery('#storageFtpPassiveMode-label').css('visibility', 'visible');
			jQuery('#filesPermissionInS3-label').css('visibility', 'hidden');
			jQuery('#filesPermissionInS3').css('visibility', 'hidden');			
			jQuery('#s3Region-label').css('visibility', 'hidden');
			jQuery('#s3Region').css('visibility', 'hidden');
			jQuery('#sseType-label').css('visibility', 'hidden');
			jQuery('#sseType').css('visibility', 'hidden');
			jQuery('#sseKmsKeyId-label').css('visibility', 'hidden');
			jQuery('#sseKmsKeyId').css('visibility', 'hidden');
			jQuery('#signatureType-label').css('visibility', 'hidden');
			jQuery('#signatureType').css('visibility', 'hidden');
			jQuery('#endPoint-label').css('visibility', 'hidden');
			jQuery('#endPoint').css('visibility', 'hidden');
			break;
		case "<?php echo Kontorol_Client_Enum_StorageProfileProtocol::SFTP?>":
			setKeyPairSettings(true);
			// No break, the rest of the settings should be as default
		default:
			jQuery('#filesPermissionInS3').css('visibility', 'hidden');
			jQuery('#filesPermissionInS3-label').css('visibility', 'hidden');
			jQuery('#s3Region-label').css('visibility', 'hidden');
			jQuery('#s3Region').css('visibility', 'hidden');
			jQuery('#sseType-label').css('visibility', 'hidden');
			jQuery('#sseType').css('visibility', 'hidden');
			jQuery('#sseKmsKeyId-label').css('visibility', 'hidden');
			jQuery('#sseKmsKeyId').css('visibility', 'hidden');
			jQuery('#signatureType-label').css('visibility', 'hidden');
			jQuery('#signatureType').css('visibility', 'hidden');
			jQuery('#endPoint-label').css('visibility', 'hidden');
			jQuery('#endPoint').css('visibility', 'hidden');
			jQuery('#storageFtpPassiveMode').css('visibility', 'hidden');
			jQuery('#storageFtpPassiveMode-label').css('visibility', 'hidden');
			break;
		}
	};

	protocolUpdateView(<?php echo "'".$this->protocol."'"?>);

	<?php if ($this->formValid): ?>
		dialogDiv.dialog('close');
		jQuery('#frmPartnerFilter').submit();
	<?php endif; ?>

	updatedUI();
});

function setKeyPairSettings(enable) {
	var val = enable ? 'visible' : 'hidden';
	jQuery('#sshPublicKey').css('visibility', val);
	jQuery('#sshPublicKey-label').css('visibility', val);
	jQuery('#publicKey').css('visibility', val);
	jQuery('#publicKey-label').css('visibility', val);
	jQuery('#sshPrivateKey').css('visibility', val);
	jQuery('#sshPrivateKey-label').css('visibility', val);
	jQuery('#privateKey').css('visibility', val);
	jQuery('#privateKey-label').css('visibility', val);
	jQuery('#passPhrase').css('visibility', val);
	jQuery('#passPhrase-label').css('visibility', val);
}

function assignDeliveryProfile(format, currentDps)
{
	var storageProfileId = $("#storageId")[0].value;

	var url = '<?php echo $this->url(array('controller' => 'delivery', 'action' => 'assign-delivery-profile')); ?>';
	url += '/currentDeliveryProfiles/' + currentDps + "/streamerType/" + format;
	var dialogDiv = jQuery('<div id="confirmation-div"></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 750,
		title: '<?php echo $this->translate('Edit delivery profiles : Storage id '); ?>' + storageProfileId +
			'<?php echo $this->translate(' , Format '); ?>' + format,
		height: 400,
		buttons: {			
			'<?php echo $this->translate('OK'); ?>': function() {
				okPressed(format);
				jQuery(this).dialog('close').remove();
			},
		},
		close: function() {
			$(this).dialog('close').remove();
		}
	});
	dialogDiv.load(
			url
		);
}
</script>
</form>


