<?php if($this->errMessage) echo "<div class=\"error\">{$this->errMessage}</div>"; ?>
<?php $this->form->setAction($this->url(array('controller' => 'partner', 'action' => 'configure'))); ?>
<?php echo $this->form; ?>

<script type="text/javascript">
$(function(){
	jQuery('.ui-widget-overlay').css('z-index', 1000 );
	jQuery('#loader').hide();	
	onPageLoad();
});

function setCombinedUsage($isCombined){
	$('#mothly_bandwidth_combined-1').removeAttr('disabled');
	$('#mothly_bandwidth_combined-2').removeAttr('disabled');
	if ($isCombined == true){
		$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_max').attr({value:'0'});
		$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_overagePrice').attr({value:'0'});
		$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_overageUnit').attr({value:'0'});
	}else{
		$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_max').attr({value:'0'});
		$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overagePrice').attr({value:'0'});
		$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overageUnit').attr({value:'0'});
		$('#MONTHLY_STORAGE-MONTHLY_STORAGE_max').attr({value:'0'});
		$('#MONTHLY_STORAGE-MONTHLY_STORAGE_overagePrice').attr({value:'0'});
		$('#MONTHLY_STORAGE-MONTHLY_STORAGE_overageUnit').attr({value:'0'});
	}
	
	$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_max').attr({readonly: $isCombined});
	$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_overagePrice').attr({readonly: $isCombined});
	$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_overageUnit').attr({readonly: $isCombined});
	$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_max').attr("readonly", !$isCombined);
	$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overagePrice').attr("readonly", !$isCombined);
	$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overageUnit').attr("readonly", !$isCombined);
	$('#MONTHLY_STORAGE-MONTHLY_STORAGE_max').attr("readonly", !$isCombined);
	$('#MONTHLY_STORAGE-MONTHLY_STORAGE_overagePrice').attr("readonly", !$isCombined);
	$('#MONTHLY_STORAGE-MONTHLY_STORAGE_overageUnit').attr("readonly", !$isCombined);
}

function disableCombinedAndSeparatedUsage(){
	var $isCombined = true;
	$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_max').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_overagePrice').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_STORAGE_AND_BANDWIDTH-MONTHLY_STORAGE_AND_BANDWIDTH_overageUnit').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_max').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overagePrice').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overageUnit').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_STORAGE-MONTHLY_STORAGE_max').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_STORAGE-MONTHLY_STORAGE_overagePrice').attr({readonly: $isCombined, value:'0'});
	$('#MONTHLY_STORAGE-MONTHLY_STORAGE_overageUnit').attr({readonly: $isCombined, value:'0'});
	$('#mothly_bandwidth_combined-1').attr({disabled: $isCombined});
	$('#mothly_bandwidth_combined-2').attr({disabled: $isCombined});
}

function onPageLoad() {
	jQuery('#extended_free_trail_expiry_date').datepicker({showOn: 'both', buttonImage: '<?php echo $this->baseUrl('images/calendar.gif'); ?>', buttonImageOnly: true, dateFormat: 'm/dd/y'});
	
	$("#fieldset-publisherSpecificDeliverySettings input").each(function(inx, value){
		var $input = $(value);
		
		if( $input.attr('type') == 'checkbox') {
			$input.change(function(){
				var id = $(this).attr('id').replace('checkbox_', '');
				var $text_input = $('#' + id);
				
				if ($(this).attr("checked")) {
					$text_input.removeAttr('readonly');  
			    }else{
			    	$text_input.attr("readonly", 1);
			    	$text_input.val("");
			    } 
			});
		}

		if( $input.attr('type') == 'text') {
			var id = $(this).attr('id');
			var $checkbox_input = $('#checkbox_' + id);
			
			if ($input.val() == 0) {
				$input.val("");
				$input.attr("readonly", 1);
		    }else{
		    	$input.removeAttr('readonly');
		    	$checkbox_input.attr("checked", true);
		    }
		} 
	});

	$("#fieldset-thumbnailConfiguration input").each(function(inx, value){
		var $input = $(value);

		if( $input.attr('type') == 'checkbox') {
			$input.change(function(){
						var id = $(this).attr('id').replace('checkbox_', '');
						var $text_input = $('#' + id);

						if ($(this).attr("checked")) {
								$text_input.removeAttr('readonly');
					}else{
						$text_input.attr("readonly", 1);
						$text_input.val("");
					}
				});
		}

		if( $input.attr('type') == 'text') {
				var id = $(this).attr('id');
				var $checkbox_input = $('#checkbox_' + id);

				if ($input.val() == 0) {
						$input.val("");
                        $input.attr("readonly", 1);
			}else{
				$input.removeAttr('readonly');
				$checkbox_input.attr("checked", true);
			}
		}
	});
	
	$("#partner_group_type-element select").each(function(inx, value){
		var $partner_parent_id = $('#partner_parent_id');
		if ($(this).val() != <?php echo Kontorol_Client_Enum_PartnerGroupType::PUBLISHER; ?> && $(this).val() != <?php echo Kontorol_Client_Enum_PartnerGroupType::TEMPLATE; ?>){
			$partner_parent_id.attr("readonly", 1);
			$partner_parent_id.val('');
	    } 
	});

	$('#partner_group_type-element select').change(function()
		{
			var $partner_parent_id = $('#partner_parent_id');
			
			if ($(this).val() == <?php echo Kontorol_Client_Enum_PartnerGroupType::PUBLISHER; ?> || $(this).val() == <?php echo Kontorol_Client_Enum_PartnerGroupType::TEMPLATE; ?>){
				$partner_parent_id.removeAttr('readonly');
		    }else{
				$partner_parent_id.attr("readonly", 1);
				$partner_parent_id.val('');
		    } 
		});

	
	

	var $separated_bw_max = $('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_max');
	var $separated_bw_price = $('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overagePrice');
	var $separated_bw_unit = $('#MONTHLY_BANDWIDTH-MONTHLY_BANDWIDTH_overageUnit');
	var $separated_s_max = $('#MONTHLY_STORAGE-MONTHLY_STORAGE_max');
	var $separated_s_price = $('#MONTHLY_STORAGE-MONTHLY_STORAGE_overagePrice');
	var $separated_s_unit = $('#MONTHLY_STORAGE-MONTHLY_STORAGE_overageUnit');
	
	if ($separated_bw_max.val() > 0 || $separated_bw_price.val() > 0 || $separated_bw_unit.val() > 0 ||
		$separated_s_max.val() > 0 || $separated_s_price.val() > 0 || $separated_s_unit.val() > 0 ){
		//separated usage
		$('#mothly_bandwidth_combined-2').attr("checked", true);
		setCombinedUsage(1);					
	}else{
		//combined usage
		$('#mothly_bandwidth_combined-1').attr("checked", true);
		setCombinedUsage(0);
	} 

	$("#mothly_bandwidth_combined input").each(function(inx, value){
		var $input = $(value);


		$input.change(function(){
			if($(this).is(':checked') === true) {
		        if ($(this).val() == 1){
			        setCombinedUsage(0);
		        }else{
		        	setCombinedUsage(1);
		        	
		        }
		    }
		}); 
	});

	$('#partner_package-element select').change(function()
	{
		var $extended_free_trail = $('#extended_free_trail');
		var $extended_free_trail_expiry_date = $('#extended_free_trail_expiry_date');
		var $extended_free_trail_expiry_reason = $('#extended_free_trail_expiry_reason');
		var $freePackage = 1;
		var $internalPackage = 103;
		if ($(this).val() == $freePackage || $(this).val() == $internalPackage) {
			$extended_free_trail.attr("disabled", false);
			disableCombinedAndSeparatedUsage();
	    }else {
			$extended_free_trail.attr("checked", false);
			$extended_free_trail.attr("disabled", true);
			$extended_free_trail_expiry_date.attr("readonly", 1);
			$extended_free_trail_expiry_date.val('');
			$extended_free_trail_expiry_date.datepicker('disable');
			$extended_free_trail_expiry_reason.attr("readonly", 1);
			$extended_free_trail_expiry_reason.val('');
			$('#mothly_bandwidth_combined-1').attr("checked", 1);
	    	setCombinedUsage(0);
	    } 
	});

	$("#partner_package-element select").each(function(inx, value){
		var $extended_free_trail = $('#extended_free_trail');
		var $extended_free_trail_expiry_date = $('#extended_free_trail_expiry_date');
		var $extended_free_trail_expiry_reason = $('#extended_free_trail_expiry_reason');
                var $freePackage = 1;
                var $internalPackage = 103;
		if (($(this).val() == $freePackage || $(this).val() == $internalPackage) && $(this).attr("disabled") != true) {
			$extended_free_trail.attr("disabled", false);
			$extended_free_trail_expiry_date.removeAttr('readonly');
			$extended_free_trail_expiry_reason.removeAttr('readonly');
			disableCombinedAndSeparatedUsage();
	    }else {
			$extended_free_trail.attr("checked", false);
			$extended_free_trail.attr("disabled", true);
			$extended_free_trail_expiry_date.attr("readonly", 1);
			$extended_free_trail_expiry_date.val('');
			$extended_free_trail_expiry_date.datepicker('disable');
			$extended_free_trail_expiry_reason.attr("readonly", 1);
			$extended_free_trail_expiry_reason.val('');
	    }
	});

	$('#extended_free_trail_expiry_date').change(function(){
		$('#extended_free_trail_expiry_reason').val('');
	});

	$("#fieldset-accountOptionsMonitorUsage input").each(function(inx, value){
				var $input = $(value);
				
				if( $input.attr('type') == 'checkbox') {
					$input.change(function(){
						var $expiry_date = $('#extended_free_trail_expiry_date');
						var $expiry_reason = $('#extended_free_trail_expiry_reason');
						
						if ($(this).attr("checked")) {
							$expiry_date.removeAttr('readonly');
							$expiry_date.datepicker('enable');
							$expiry_reason.removeAttr('readonly');
							$expiry_date.val('');
							$expiry_reason.val('');
					    }else{
					    	$expiry_date.attr("readonly", 1);
					    	$expiry_date.val('');
					    	$expiry_date.datepicker('disable');
					    	$expiry_reason.attr("readonly", 1);
					    	$expiry_reason.val('');
					    } 
					});

					var $expiry_date = $('#extended_free_trail_expiry_date');
					var $expiry_reason = $('#extended_free_trail_expiry_reason');
					
					if ($(this).attr("checked")) {
						$expiry_date.removeAttr('readonly');
						$expiry_reason.removeAttr('readonly');
						$expiry_date.datepicker('enable');
				    }else{
				    	$expiry_date.attr("readonly", 1);
				    	$expiry_date.val('');
				    	$expiry_date.datepicker('disable');
				    	$expiry_reason.attr("readonly", 1);
				    	$expiry_reason.val('');
				    } 
				}
			});
}

function openConfirm(url) {
	var dialogDiv = jQuery('<div id="confirmation-div"><?php echo $this->translate('Do you want to save your changes before leaving this page?'); ?></div>').appendTo('body');
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 350,
		title: '<?php echo $this->translate('Are you sure?'); ?>',
		height: 150,
		buttons: {
			'<?php echo $this->translate('Save Changes'); ?>': function() {
				jQuery(this).dialog('close');
				jQuery('#frmPartnerConfigure').submit();
				url += "<?php echo '/'.$this->partnerId; ?>";
				window.location = url;
			},
			'<?php echo $this->translate('Ignore Changes'); ?>': function() {
				jQuery(this).dialog('close');
				url += "<?php echo '/'.$this->partnerId; ?>";
				window.location = url;
			},
			'<?php echo $this->translate('Cancel'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			
		}
	});
}

function openChangeServicePackageAlertBox(){
	var dialogDiv = jQuery('<div id="confirmation-div"><?php echo $this->translate('Please enable/disable features according to the new agreement.'); ?></div>').appendTo('body');
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 350,
		title: '<?php echo $this->translate('Change in service package'); ?>',
		height: 150,
		buttons: {			
			'<?php echo $this->translate('OK'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {}
	});
}

function openViewHistory(partner_id){
	var url = '<?php echo $this->url(array('controller' => 'partner', 'action' => 'exteneded-free-trail-history', 'partner_id' => '')); ?>' + partner_id;
	var dialogDiv = jQuery('<div id="confirmation-div"></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 750,
		title: '<?php echo $this->translate('Trial Account Events History'); ?>',
		height: 400,
		buttons: {			
			'<?php echo $this->translate('OK'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {}
	});
	dialogDiv.load(
			url
		);
}

function useDefaultStreamersChanged() {
	var disable = jQuery('#use_default_streamers').attr('checked');
	var deliveryTypes = jQuery('.delivery_type');

	if(disable){
		deliveryTypes.attr('checked', true);
		deliveryTypes.attr('disabled', true);
	}
	else{
		deliveryTypes.attr('disabled', false);
		deliveryTypes.each(function(){

			if($(this).data('checked')){
				$(this).attr('checked', true);
			}
			else{
				$(this).attr('checked', false);
			}
		});
	}
}

jQuery(document).ready(function() {
	<?php if ($this->formValid): ?>
		jQuery('#partner-configure-dialog').dialog('close');
		jQuery('#frmPaginator1').submit();
	<?php endif; ?>

	jQuery('#use_default_streamers').change(useDefaultStreamersChanged);
	useDefaultStreamersChanged();
	updatedUI();
	updatedElasticUI();
});

</script>
