<?php if($this->errMessage) echo "<div class=\"error\">{$this->errMessage}</div>"; ?>
<?php $this->form->setAction($this->url(array('controller' => 'partner', 'action' => 'exteneded-free-trail-history'))); ?>

<?php if (!isset($this->auditList) || !count($this->auditList)):?>
	<div>No events history</div>
<?php else:?>

<table class="clear">
		<thead>
			<tr>
				<th>Performed By</th>
				<th>Performed On</th>				
				<th>Action</th>
				<th>Reason</th>
			</tr>
		</thead>
		<tbody>
			
		
			<?php foreach($this->auditList as $audit): ?>
			<tr class="1">
				<td><?php echo $audit->userId; ?></td>
				<td><?php echo date('m/d/y H:m:s',$audit->createdAt);?></td>
				<td>
				<?php if (@$audit->data->changedItems){
					foreach($audit->data->changedItems as $changedItems){
						if ($changedItems->descriptor == 'extendedFreeTrailExpiryDate'){
							$extensionDate = $changedItems->newValue;
							if ( is_int( $extensionDate ) ) {
								$extensionDate = date('m/d/y',$extensionDate);
							}
							else {
								$extensionDate = print_r($extensionDate,true); // Transform any contained type to a string
							}
							echo 'Extended until: ' . $extensionDate;
							break;
						}
						else if ($changedItems->descriptor == 'partner.STATUS'){
							$newStatusString = $this->enumTranslate( 'Kontorol_Client_Enum_PartnerStatus', $changedItems->newValue );
							echo 'Status changed to: ' . $newStatusString; 
							break;
						}
					}}?>
					</td><td>
				<?php if (@$audit->data->changedItems){
						foreach($audit->data->changedItems as $changedItems){
							if ($changedItems->descriptor == 'extendedFreeTrailExpiryReason'){
								echo $changedItems->newValue;
								break;
							}
							else if ($changedItems->descriptor == 'statusChangeReason'){
								echo $changedItems->newValue;
								break;
							}
						}}?>
					</td>
			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
<?php endif;?>
