	
<?php $this->headScript()->appendFile($this->baseUrl('js/assignDeliveryProfile.js'));?>

<p><?php echo $this->translate('external-storages intro text'); ?></p>

<?php 
	$triggersNames = array(
		2 => 'Moderation Approved',
		3 => 'Flavor Ready',
	);


?>

   <?php echo $this->form; ?>
   <?php echo $this->newForm; ?>

<?php if ($this->paginator->hasError()): ?>
	<div class="error">
		<ul>
			<li><?php echo $this->translate($this->paginator->getErrorDescription()); ?></li>
		</ul>
	</div>
<?php endif; ?>

<div id="results" class="clear">
	<h2><?php echo $this->translate('external-storages results count', $this->paginator->getItemsCount()); ?></h2>
	<table class="clear">
		<thead>
			<tr>
				<th><?php echo $this->translate('Status'); ?></th>
				<th><?php echo $this->translate('ID'); ?></th>
				<th><?php echo $this->translate('Name'); ?></th>
				<th><?php echo $this->translate('Protocol'); ?></th>
				<th><?php echo $this->translate('URL'); ?></th>
				<th><?php echo $this->translate('Publisher ID'); ?></th>
				<th><?php echo $this->translate('Path Manager'); ?></th>
				<th><?php echo $this->translate('Trigger'); ?></th>
				<th><?php echo $this->translate('Ready Behavior'); ?></th>
				<th><?php echo $this->translate('Creation Date'); ?></th>
				<th><?php echo $this->translate('Updated At'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="16"><?php echo $this->paginator; ?></td>
			</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as /* Kontorol_Client_Type_StorageProfile */ $storage): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_StorageProfileStatus', $storage->status); ?></td>
				<td><?php echo $storage->id; ?></td>
				<td><?php echo $storage->name; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_StorageProfileProtocol', $storage->protocol); ?></td>
				<td><?php echo $storage->storageUrl; ?></td>
				<td><?php echo $storage->partnerId; ?></td>
				<td><?php echo $this->translate($storage->pathManagerClass ? $storage->pathManagerClass : 'default_path_manager'); ?></td>
				<td><?php echo $triggersNames[$storage->trigger]; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_StorageProfileReadyBehavior', $storage->readyBehavior); ?></td>
				<td><?php echo $this->dateFormat($storage->createdAt, Zend_Date::DATE_LONG); ?></td>
				<td><?php echo $this->dateFormat($storage->updatedAt, Zend_Date::DATE_LONG); ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $storage->partnerId; ?>, <?php echo $storage->id; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<option value="configure"><?php echo $this->translate('Configure'); ?></option>
						<?php if ($storage->status == Kontorol_Client_Enum_StorageProfileStatus::DISABLED): ?>
							<option value="setManual"><?php echo $this->translate('Enable'); ?></option>
							<option value="setAutomatic"><?php echo $this->translate('Export Automatically'); ?></option>
						<?php elseif ($storage->status == Kontorol_Client_Enum_StorageProfileStatus::MANUAL): ?>
							<option value="disable"><?php echo $this->translate('Disable'); ?></option>
							<option value="setAutomatic"><?php echo $this->translate('Export Automatically'); ?></option>
						<?php elseif ($storage->status == Kontorol_Client_Enum_StorageProfileStatus::AUTOMATIC): ?>
							<option value="disable"><?php echo $this->translate('Disable'); ?></option>
							<option value="setManual"><?php echo $this->translate('Manual only'); ?></option>
						<?php endif; ?>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>



<script type="text/javascript">
$(function(){
	addSubTitle('Remote Storage Profiles');
});

jQuery('#filter_type').change(function() {
	if(this.value == "none") {
		$("#filter_text").css("display","none");
		$("div.help").hide();
	}
	else {
		$("#filter_text").css("display","inline");
		$("#filter_text input").focus();
		if(this.value == "free")
			$("div.help").show();
		else
			$("div.help").hide();
	}
});

jQuery('#filter_type').change();

function doAction(action, partnerId, storageId) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}

var dialogDiv;
function newStorage(partnerId,type) {
	var url = '<?php echo $this->url(array('controller' => 'partner', 'action' => 'configure-storage')); ?>' + '/new_partner_id/' + partnerId + '/type/' + type;
	
	jQuery('#storage-configure-dialog').remove();
	dialogDiv = jQuery('<div id="storage-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 950,
		height: 650,
		title: '<?php echo $this->translate('Storage Specific Setup Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmStorageConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {	
		}	
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('#frmStorageConfig').ajaxForm({
				success: newStorageSuccess,
				iframe: true
			});
		}
	);
}

function newStorageSuccess(html) {
	if (jQuery(html).filter('#frmStorageConfig').hasClass('valid')) 
	{
		dialogDiv.dialog('close');
		if (jQuery('#frmPaginator1').length){
			jQuery('#frmPaginator1').submit();
		}
		else {
			jQuery('#frmPartnerIdFilter').submit();
		}
	}
	jQuery('#frmStorageConfig').replaceWith(html);
	jQuery(this).find('#frmStorageConfig').ajaxForm({
		success: newStorageSuccess,
		iframe: true
	});
}
function configure(partnerId, storageId) {
	var url = '<?php echo $this->url(array('controller' => 'partner', 'action' => 'configure-storage', 'partnerId' => 'PARTNER_ID', 'storageId' => '')); ?>' + storageId;
	url = url.replace('PARTNER_ID', partnerId);
	
	jQuery('#storage-configure-dialog').remove();
	dialogDiv = jQuery('<div id="storage-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 950,
		height: 650,
		title: '<?php echo $this->translate('Storage Specific Setup Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmStorageConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			
		}	
	});
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('#frmStorageConfig').ajaxForm({
				success: newStorageSuccess,
				iframe: true
			});
		}
	);
}

function setManual(partnerId, storageId)
{
	var ok = confirm('<?php echo $this->translate('are you sure manual storage?'); ?>');
	if (ok)
	{
		changeStatus(
				partnerId, 
				storageId, 
			<?php echo Kontorol_Client_Enum_StorageProfileStatus::MANUAL; ?>,
			function() {
				alert('<?php echo $this->translate('storage was manualed');?>');
			}
		);
	}
}

function setAutomatic(partnerId, storageId)
{
	var ok = confirm('<?php echo $this->translate('are you sure auto storage?'); ?>');
	if (ok)
	{
		changeStatus(
				partnerId, 
				storageId, 
			<?php echo Kontorol_Client_Enum_StorageProfileStatus::AUTOMATIC; ?>,
			function() {
				alert('<?php echo $this->translate('storage was autoed');?>');
			}
		);
	}
}

function disable(partnerId, storageId)
{
	var ok = confirm('<?php echo $this->translate('are you sure disable storage?'); ?>');
	if (ok)
	{
		changeStatus(
				partnerId, 
				storageId, 
			<?php echo Kontorol_Client_Enum_StorageProfileStatus::DISABLED; ?>,
			function() {
				alert('<?php echo $this->translate('storage was disabled');?>');
			}
		);
	}
}

function changeStatus(partnerId, storageId, status, callback)
{
	var url = '<?php echo $this->url(array('controller' => 'partner', 'action' => 'update-storage-status', 'storageId' => 'STORAGE_ID', 'partnerId' => 'PARTNER_ID', 'status' => 'STATUS')); ?>';
	url = url.replace('STATUS', status);
	url = url.replace('STORAGE_ID', storageId);
	url = url.replace('PARTNER_ID', partnerId);
	jQuery.ajax({
		url: url,
		dataType: 'json',
		success: function(result) {
			if (result != 'ok')
				this.error();
			
			if (callback && (typeof callback == 'function'))
			{
				callback.apply(this);
			}

			jQuery('#frmPaginator1').submit();
		},
		error: function() {
			alert('<?php echo $this->translate('an error occured'); ?>');
		}
	});
}

</script>
