<?php echo $this->form; ?>

<script type="text/javascript">

	var logViewUrl = "<?php echo $this->url(array('controller' => 'plugin', 'action' => 'KontorolLogViewAction')); ?>";

	<?php echo file_get_contents(__DIR__ . '/../log-view.js'); ?>

	function toggleView(objectId) {
		jQuery("#" + objectId).toggle();
	}
	
	function queryLogs(){
		var objectId = jQuery('#objectId').val();
		var objectType = jQuery('#objectType').val();
	    new LogView(objectType + '-' + objectId, jQuery('body'), 'object', objectId, {
	    	table: jQuery('#tblLogs'),
	    	conditions: {
	    		objectType: objectType,
		    	type: 'api_v3,core'
	    	}
	    });
	}
	
	$(function() {
		jQuery('#objectId').keypress(function(e) {
		    if(e.which == 13) {
		    	queryLogs();
		        return false;
		    }
		});
		
		jQuery('#submit').click(function(){
			queryLogs();
		});
	});
	
</script>


<style type="text/css">

	<?php echo file_get_contents(__DIR__ . '/../log-view.css'); ?>

</style>

<table id="tblLogs" class="log-view"/>
