
html { height: 100%;}
* { margin:0; padding:0;}

body { height:100%; background:#F7F7F7;} /* url(../images/kmc/kmc_sprite.png) repeat-x scroll 0 -29px;*/
a { text-decoration:none;}
#kmcHeader { min-width: 960px; height:29px; padding: 4px 7px 0; background: url(../images/kmc/kmc_sprite.png) repeat-x scroll 0 -32px;}
#kmcHeader div#logo { width:115px; height:30px; margin-top:-3px; float:left; background: url(../images/kmc/kmc_sprite.png) no-repeat 1px 0;}
#kmcHeader.whiteLabel div#logo { background: url(../images/kmc/whitelabel_logo.png) no-repeat 0 0;}
#kmcHeader ul { height:29px; margin: -4px 0 0 50px; float:left;}
#kmcHeader li { float:left;}
#kmcHeader li a { _width:0; height:32px; padding:  0 24px 0 0 ; display:block; font: bold 11px arial,sans-serif; color:#c9c9c9;}
#kmcHeader li a span { display:block; padding: 12px 8px 9px 25px;}
#kmcHeader li a:hover { color:#A6E7F6;}
#kmcHeader li a.active { padding-right:24px; background: url(../images/kmc/kmc_sprite.png) right -62px; color:#222;}
#kmcHeader li a.active span { background: url(../images/kmc/kmc_sprite.png) 0 -62px;}
#kmcHeader li a.active.menu { background: url(../images/kmc/kmc_sprite.png) repeat-x scroll -23px -292px transparent; }
#kmcHeader li a.active.menu span { background: url(../images/kmc/kmc_sprite.png) repeat-x scroll -23px -292px transparent; }
#kmcHeader li a.menu { background: url("../images/kmc/kmc_sprite.png") repeat-x scroll -23px -208px transparent; margin-right: 10px; color: #5fa9ba; }
#kmcHeader li a.menu:hover { background: url("../images/kmc/kmc_sprite.png") repeat-x scroll -23px -249px transparent; color: #A6E7F6; }
#kmcHeader li a.active.menu { color: #000; }
#kmcHeader li a.active.menu:hover { background: url(../images/kmc/kmc_sprite.png) repeat-x scroll -23px -292px transparent; }
#loading { color: #fff; font-weight: bold; font-size: 12px; padding: 0; margin: 0; }
#loading img { margin: 11px 10px 0 0; border: 0; }
#loading span { display: block; margin: -15px 0 0 25px; font: bold 11px arial,sans-serif; }
#kmcHeader #user { cursor: pointer; float:right; margin-top: 2px; padding: 2px 10px 2px 5px; background: #2b2b2b; border: 1px solid #4d4d4d; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #5fa9ba; font: bold 11px arial,sans-serif; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#kmcHeader #user .left-arrow { background: url("../images/kmc/kmc_sprite.png") no-repeat -155px -176px; display: inline-block; width: 10px; height: 10px; margin-right: 9px; }
#kmcHeader #user .left-arrow { margin-top: -12px\9 } /* IE Hack */
#kmcHeader #user_links { position: absolute; right: 6px; top: 6px; z-index: 22; padding: 2px 10px; white-space: nowrap; background: #2b2b2b; border: 1px solid #4d4d4d; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #c9c9c9; font: normal 11px arial,sans-serif; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}
#kmcHeader #user_links #closeMenu { cursor: pointer; background: url("../images/kmc/kmc_sprite.png") no-repeat -182px -175px; display: inline-block; width: 10px; height: 10px; margin: auto -3px auto -2px }
#kmcHeader #user_links #closeMenu { margin-top: -13px\9 } /* IE Hack */
#kmcHeader #user_links .sep { color: #4d4d4d; }
#kmcHeader #user_links a { color: #5fa9ba; }
#kmcHeader #user_links a:hover { color: #76c5ee; }
#kmcHeader #newKMC { cursor: pointer; float:right; margin-top: 2px; padding: 2px 10px 2px 5px; background: #2b2b2b; border: 1px solid #4d4d4d; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #5fa9ba; font: bold 11px arial,sans-serif; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: 6px; }

div.login #kmcHeader div { margin-top:13px;}
/* div#user_links span { float:right; color:#fff;} */
/*div#user_links a { color:#A6E7F6;}
 div#user_links a:hover { color:#A6E7F6; text-decoration:underline;}*/
#wrap{ padding-bottom:4px; min-width: 960px; }

table{ border: none; }
ul, ol, dir, menu { list-style:none; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }	/* Controls the BR tag, which makes the WRAPPER float stretch for GECKO */
.clearfix {display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

:focus { -moz-outline-style: none; outline:none; }
*::-moz-selection { background-color:#4C5767; color:#fff; }
img{ border:none; }
.floatl{ float:left; }
.floatr{ float:right; }
.clear { clear: both; }

#mask{ display: none; position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 32px; background:#000; -moz-opacity:0.5; -webkit-opacity:0.5; opacity:0.5; filter: alpha(opacity=5); cursor: default; zoom: 1; }
* html #mask{ position: absolute; background-color:#000; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }

#overlay{ display: none; position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background:#000; -moz-opacity:0.5; -webkit-opacity:0.5; opacity:0.5; filter: alpha(opacity=5); cursor: default; }
* html #overlay{ position: absolute; background-color:#000; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }

fieldset{ border:0 none; position:relative; }
form div.item{ margin-bottom:12px; width:100%; position:relative; }
form label{ float:left; margin-bottom:2px; width:110px; line-height:2em; }
input, textarea{ width:260px; font-family: Arial,Helvetica,sans-serif; font-size:1em; padding:4px; }
input[disabled], textarea[disabled]{ color:#888; }
textarea{ overflow:auto; font-family: Arial,Helvetica,sans-serif; }

form div.checkbox{ padding-left:110px; }
form div.checkbox label{ display:inline; float:none; }
form div.checkbox input{ width:auto; float:left; margin:6px 10px 0 2px; padding:0; margin-bottom:-2px; border:none; }

input:focus, textarea:focus{ background-color:#F8F8F8; border-color:#bbb; }
select:focus{ background-color:#FBFBFB; }

form div.buttons{ margin-top:6px; text-align:center; }
form div.buttons p{ color:#d2fb30; font-size:1.2em; line-height:2em; }
form div.buttons button{ padding:2px; cursor:pointer; border:none; background:none; font-size:18px; color:#6a6a71; }
form div.buttons button:hover{ color:#cdcdd0; }

/*--------------------------------
	main container
---------------------------------*/
#main{ min-height: 548px; z-index: 44; background-color:#F7F7F7;  margin: 0; position:relative; overflow:hidden; bottom:1px; clear:both; }
#main.help_page { background-color:#f4f4f6; }
#main ul { height:29px; background:url(../images/kmc/navbar.gif) 0 -29px repeat-x; overflow:hidden; }
#main ul li { float:left; width:9em; height:29px; line-height:29px; text-align:center; display:inline; padding:0 5px 0 7px; background:url(../images/kmc/menu_sep.gif) 0 center no-repeat; }
#main ul li a { display:block; color:#00364a; margin:3px 0 0; }
#main ul li a:hover { color:#78a3b2; }
#main ul li.active a { color:#fff; background:url(../images/kmc/tab_over.gif) no-repeat right 3px; }
#main ul li.active b { float:left; margin-right:-4px; position:relative; z-index:2; width:4px; height:100%; background:url(../images/kmc/tab_over.gif) 0 6px no-repeat; }
#main .corner { position:absolute; width:5px; height:29px; z-index:2; top:0; left:0; background:url(../images/kmc/navbar.gif) 0 0 repeat-x; }
#main .corner.right { background-position:0 -58px; left:auto; right:0; }
#main .bcorner { position:absolute; width:5px; height:5px; z-index:2; bottom:0; left:0; background:url(../images/kmc/bottom_corners.gif) -5px 0 repeat-x; }
#main .bcorner.right { background-position:0 0; left:auto; right:0; }
#main .flash_wrap { margin:0px; background-color:#f4f4f5; overflow: hidden; height:100%}
#main .flash_wrap object { min-height: 100%; }

* html #main .corner{ display:none; }
/*--------------------------------
	Login
---------------------------------*/
#login{ width:358px; margin: 100px auto 0; color:#444; }
#login .wrapper{ }
#login .wrapper h1{ font-weight:normal; font-size:3em; }
#login .wrapper label{ line-height:normal; font-weight:bold; }
#login .wrapper input{ font-size:2em; margin-bottom:30px; color:#333; }
#login .wrapper button{ float:right; background-color:#a1c0cc; border:none; color:#084258; padding:6px 14px; -moz-border-radius:5px; cursor:pointer; }
#login .wrapper button:hover{ background-color:#7DB7CD; }
#login .wrapper a{ text-decoration:underline; color:#084258; }
#login .wrapper a:hover{ text-decoration:none; }
#login #login_swf span { display: block; margin-top: 30px; color: #fff; font-family: arial; }
#login #login_swf span a { color: #11B4EE; }
#login #login_swf img { margin-top: 30px; }


/*--------------------------------
	Content
---------------------------------*/
#main .content{ padding:10px 0 30px; color:#333; }
#main .content .title{ border-bottom:#a3bfcb solid 1px; padding:20px 30px; }
#main .content h1{ color:#3483a1; font-size:3em; font-weight:normal; letter-spacing:-1px; }

#main .content .contwrap{ border-top:#fff solid 1px; padding:20px 30px; }
#main .content .contwrap h2{ display: block; margin-bottom:25px; color:#333; font-size:2em; font-weight:normal; letter-spacing:-1px; }
#main .content .contwrap .toc{ width: 470px; margin-bottom:50px; }
#main .content .contwrap .toc h3{ display:block; margin-bottom:5px; }
#main .content .contwrap .toc dl{ margin:0 0 20px 15px; font-weight:bold; }
#main .content .contwrap .toc dt{ display:block; background:url(../images/kmc/dots.gif) 0 90% repeat-x; }
#main .content .contwrap .toc dd{ display:block; padding:1px 0; margin-left:15px; background:url(../images/kmc/dots.gif) 0 90% repeat-x; }
#main .content .contwrap .toc dl a{ background-color:#F4F4F6; padding-right:4px; }
#main .content .contwrap .toc dl span{ float:right; width:50px; color:#666; padding-left:4px; background-color:#F4F4F6; }

#main .content .contwrap .dataContent{  }
#main .content .contwrap .dataContent h2{ border-bottom:1px solid #ddd; padding-bottom:8px; margin-bottom:0; }
#main .content .contwrap .dataContent .dataTitle{ padding:40px 0 2px 0; border-bottom:1px solid #DDD; font-size:1.1em; font-weight:bold; margin-bottom:6px; }
#main .content .contwrap .dataContent .dataTitle h3{ font-size:1.5em; font-weight:normal; padding-bottom:2px; color:#3483a1; }
#main .content .contwrap .dataContent .dataTitle h4{ font-size:1.1em; }
#main .content .contwrap .dataContent .dataTitle span{ color:#999; margin-right:8px; letter-spacing:-0.5px; }
#main .content .contwrap .dataContent .dataTitle a{ float:right; font-size:0.9em; font-weight:normal; }
#main .content .contwrap .dataContent dl dt{ font-weight:bold; padding-right:8px; }
#main .content .contwrap .dataContent dl dd{ margin-bottom:8px; }
#main .content .contwrap .dataContent dl dl{ margin:8px 0 10px 25px; }

#server_wrap { display:none; }

/* modal.css code combind to this file */
#modalbox{ position: absolute; left: 50%; top:9%; margin:0 0 0 -340px; width: 680px; z-index: 100; }
#modalbox.locked{ position:absolute; top:15%; left:0; margin:0; border:0; }
* html #modalbox{ position: absolute; }

#modalbox iframe{ overflow:hidden; }

.kontorolCode{ font-size: 20px; padding: 5px; }

/* for KMC modal*/
/* modal.css overide */
#mbContent.new { padding:0; border:none; display:table; background:none;}
#titlebar { height:19px; padding: 10px 16px 8px; font-weight:bold; color:#EEEEEE; font-size: 15px; -moz-border-radius-topleft:5px;; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; background: url(../images/kmc/kmc_sprite.png) repeat-x 0 -115px;}
#titlebar a { width:16px; height:16px; margin:-1px 0 0 5px; float:right; background: url(../images/kmc/kmc_sprite.png) no-repeat -155px -152px;}
#titlebar a#help { background-position: -177px -152px;}
#titlebar span { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; margin-right: 20px; }
#modal span#entry_id { padding-left:3px; color:#555;}
#modal_content { padding: 11px 12px;}
#modal .embed_code { display: none; }
#modal #player_wrap { min-height:290px; min-width:400px; padding-bottom:0;  margin: 15px auto;}
#modal textarea#embed_code { float: right; width:380px; height: 14px; border: solid 1px #B7BABC; color:#333; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius: 2px; }
#modal button { font: normal 11px arial,sans-serif; color:#2B2B2B;}
#modal button#select_code { height:25px; padding: 0 13px 0 0; border:none; margin: 11px auto 5px; line-height:normal; overflow:visible; background: url(../images/kmc/kmc_sprite.png) no-repeat -63px -152px; font: normal 11px arial,sans-serif; color:#2B2B2B; cursor:pointer;}
#modal button#select_code { #background-position: -66px -152px;}
#modal button#select_code:hover { background-position: -63px -177px; color:#000;}
#modal button#select_code:hover { #background-position: -66px -177px;}
#modal button span { height:20px; padding: 4px 0 0 15px; margin: 1px 1px 0 0; float:left; white-space:nowrap; background:transparent url(../images/kmc/kmc_sprite.png) no-repeat scroll 0 -153px;}
#modal button:hover span { background-position: 0 -178px;}
@-moz-document url-prefix() {
	#modal button span { margin-top: 0; margin-left: -3px; margin-bottom: 1px; }
	#modal button { display: block; }
	#titlebar span { margin-right: 50px; }
}

#modal dl { margin: 15px 0 10px 10px;}
#modal dt { width:110px; margin-bottom:5px; float:left; clear:both; font-weight:bold;}
#modal dd { width:270px; margin-bottom:5px; overflow:hidden;}
#modal_content input { width: auto; }
#modal_content label { cursor: pointer; }

#modal div.right { float: left; margin: 0 18px 6px 0; }
#modal div.center { text-align: center; }
#modal input#html5_support, #modal input#https_support { width: auto; float: left; margin-right: 5px; margin-top: 3px;  }
#modal input, textarea { color: #777; }
#modal div.note { clear: both; font-size: 11px; color: #333 }
#modal div.note a { color: #009ACC; }
#modal div.red { color: #D30404; }
#modal select { font-size: 14px; }

#player_select { width: 320px; }
#delivery_type { width: 220px; }

/* jw */
#modal input { background:#F7F7F7;}
#modal a.license { margin: 0 5px;}
#modal div.label { min-width:240px; margin: 0; float:left; clear:both; font-weight:bold; }
#modal div#rtmp.label { margin-top:0;}
#modal div.description { width:300px; margin: 10px 0 5px; float:left;}
#modal div.description ul { margin-top:2px; display:none;}
#modal div.description li { margin-bottom:3px;}
#modal div.description ul input { width:99px; height:16px; padding:1px; border: solid 1px #9B9B9B; background:#fff;}

#modal .embedcode { min-width: 150px !important; }

/* end jw */
/* end KMC modal */

/* jw p&e */
a, a:visited { }
a.close, a.help { height:19px; width:19px; background: url(sprite.png) no-repeat -19px 0; float:right; margin: -2px 0 0 5px;}
a.help { background-position: 0 0;}
#player_wrap { min-height:290px; min-width:400px; padding-bottom:8px; margin: 0 auto; text-align: center; }
#jw_preview { width:400px; padding:10px 12px; border: solid 1px #bbb; margin: 0 auto; -moz-border-radius:8px; -webkit-border-radius:8px; background:#98BBC3 url(sprite.png) repeat-x 0 -20px; font: normal 12px arial,sans-serif;}
#player_wrap { margin: 0 auto;}
a.license { margin: 0 5px;}
div.label { min-width:99px; margin: 10px 0 5px; float:left; clear:both; font-weight:bold; color:#2c2c2c;}
div.description { width:300px; margin: 10px 0 0;}
div.description a { color:#433179;}
div.description a img { vertical-align:-1px;}
div.description a:hover { text-decoration:underline;}
div.description ul { display:none; margin: 3px 0 0 33px;}
div.description li { margin-bottom:3px;}
div.description ul input { width:90px; height:12px; border: solid 1px #9B9B9B; background:#f7f7f7;}
div.description ul button { padding: 0 5px;} /* vertical-align:1px; */
#player_embed_code { margin-top:0; width:398px; background:#F7F7F7; border: solid 1px #9B9B9B;}
#mbContent { display:table; font: normal 12px arial,sans-serif; color:#000;}
#AdSolution { width:auto; vertical-align:-2px; margin-right:8px;}
#select_player { margin: 5px 0 5px -10px !important;}
#nomix_box, #copy_msg { margin: 0 0 15px; padding:8px; border: solid 1px #ccc; background:#FFFFBC; position:relative;}
#nomix_box p, #jw_copy p { margin: 0 0 5px;}
#nomix_box dfn { font-style:normal; border-bottom: dashed 1px blue; cursor:help;}
#nomix_box div	{ margin: 15px 0 0; text-align:right; color:#444;}
#nomix_box input { width:auto; vertical-align:-2px;}
#copy_msg { margin: 0 10px 10px; display:none;}
#copy_code { margin-top:10px;}
#mbContent { margin-bottom:20px;}
#jw_embed_code { background:#F8F8F8;}
/* end jw p&e */


#change_account { padding: 10px; }
#change_account input { width: auto; }
#change_account span { display: block; margin-bottom: 10px; }
#change_account label { display: block; margin: 5px; }
#change_account .container { overflow-y: auto; overflow-x: hidden; max-height: 110px; height: 110px; margin-bottom: 10px; }
#change_account button { cursor: pointer; background: url("../images/kmc/kmc_sprite.png") no-repeat scroll -57px -153px transparent; border: 1px solid #B7BABC; color: #2B2B2B; cursor: pointer; height: 24px; margin: 0 auto 5px; padding: 0 13px 1px; }
#change_account button { width /*\**/: 75px\9 }
#change_account button span { background: none; padding: 3px 0 0 3px; }
@-moz-document url-prefix() {
	#change_account button span { background: none; padding: 3px 0 0 6px; }
}

.modal { -moz-box-shadow: 0 0 22px #000; -webkit-box-shadow: 0 0 22px #000; borderX: solid 3px #222; margin: 0 auto 15px; background: #f7f7f7; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius: 8px; font-size:13px;}
.modal { display: none; position: absolute; z-index: 100; margin: 0 0 20px; padding: 0; min-height: 200px; font-family: arial; background: #fff; }
.modal .title { height:19px; padding: 10px 16px 8px;  -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; background: url(../images/kmc/kmc_sprite.png) repeat-x 0 -116px;}
.modal .title h2 { float: left; font-weight:bold; color:#EEEEEE; font-size: 15px; margin: 0; padding: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; max-width: 450px; }
.modal .title .icon { display: block; width:16px; height:16px; margin:-1px 0 0 5px; float:right; background: url(../images/kmc/kmc_sprite.png) no-repeat; cursor: pointer; }
.modal .title .close { background-position: -155px -152px; }
.modal .title .help { background-position: -177px -152px;}
.modal .content { /*padding: 6px;*/ }
.modal.iframe .content { padding: 0; }
.modal .flash_only { background: #e1e1e1; padding: 10px;  -moz-border-radius:6px; -webkit-border-radius:6px; border-radius: 6px; }
.modal .flash_only object { }
.label_text { font-size: 12px; font-weight: bold; color: #2C2C2C; }
.modal.preview_embed .content { padding: 0; }
.modal .footer { text-align: center; padding: 15px; border-top: 1px solid #D4D4D4; }

#preview_embed { padding: 0; margin: 10px auto 0; width: 500px; }
#preview_embed a { color: #009ACC; }
#preview_embed .hr { line-height: 1px; background: #d9d9d9; height: 1px; margin: 5px 0; }
#preview_embed .item { margin: 15px 0; clear: both; }
#preview_embed .item .label { min-width: 150px; width: 150px; font-size: 12px; padding-top: 2px; }
#preview_embed .item label { margin-left: 4px; }
#preview_embed .item select { float:right; width: 320px; }
#preview_embed .note { margin: 7px 0; color: #909090; font-size: 11px; }
#preview_embed .html5_support { width: 302px; float: left; }
#preview_embed .html5_support .note { margin-left: 22px; margin-bottom: 0; }
#preview_embed .https_support { width: 155px; float: right; }
#preview_embed .preview_link .label, #preview_embed .item .label.checkbox { width: 100%; min-width: auto; }
#preview_embed .embed_code .label { width: 100px; min-width: 100px; }
#embed_code_button { display: none; border-top: 1px solid #d9d9d9; padding: 15px 0; }
.blue_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background-color:#79bbff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.blue_button:hover {
	 background-color:#378de5;
 }.blue_button:active {
	  position:relative;
	  top:1px;
  }

#previewModal { width: 95%; min-height: 600px; top: 60px; left: 50%; margin-left: -47.5%; margin-top: 0; margin-bottom: 0; }
#previewModal a { color: #009ACC; }
#previewModal input { width: auto; }
#previewModal select { max-width: 100%; }
#previewModal .content { min-height: 500px; }
#previewModal .hr { border-top: 1px solid #ddd; border-bottom: 1px solid #fff; margin: 8px 0; }
#previewModal .title { height: auto; }
#previewModal .options { height: 100%; max-width: 370px; background-color: #F6F6F6; padding: 30px 30px 30px 26px; border-right: 1px solid #D4D4D4; min-height: 500px; overflow-y: auto; }
#previewModal .options .advance a { font-weight: bold; }
#previewModal .help-block { font-size: 11px; color: #999;}
#previewModal .checkbox { font-size: 12px; font-weight: bold; color: #444; }
#previewModal .checkboxdisabled { font-size: 12px; font-weight: bold; color: #cacaca; cursor: auto}
#previewModal .checkbox input { margin-right: 5px; }
#previewModal .checkboxdisabled input { margin-right: 5px;; cursor: auto}
#previewModal .qr-placeholder { width: 80px; height: 80px; border: 1px solid #999; background: #efefef; }
#previewModal .qr-text { margin-top: 43%; margin-left: 14%;font-size: 11px; }
#previewModal .copy-code { font-size: 11px}
#previewModal .pullright { float: right}
#previewModal .modal-body { max-height: 100%; }
#previewModal .urlbox { text-overflow: ellipsis; overflow: hidden; color: #009ACC; }
#previewModal #embedCode { width: 100%; height:200px; white-space: normal!important;}
#previewIframe { height: 100%; }
#previewIframe iframe { width: 100%; height: 100%; min-height: 500px; border: 0; }

.lt-ie9 .qr-block { display: none; }
.lt-ie8 #previewModal .options { max-width: 300px; }

.arrow-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #009ACC;
	margin-right: 5px;
	margin-top: 2px;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #009ACC;
	margin-right: 5px;
	margin-top: 4px;
}
.pull-left {
	float: left;
}
/* Twitter Bootstrap */
.help-block {
	display: block;
	margin-bottom: 10px;
}
.help-block, .help-inline {
	color: #595959;
}

.input-append, .input-prepend {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0;
	width:100%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
	margin-left: -1px;
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
	vertical-align: top;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.row-fluid {
	width: 100%;
	*zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
	display: table;
	line-height: 0;
	content: "";
}

.row-fluid:after {
	clear: both;
}

.row-fluid [class*="span"] {
	display: block;
	float: left;
	width: 100%;
	min-height: 30px;
	margin-left: 2.127659574468085%;
	*margin-left: 2.074468085106383%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
	margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 2.127659574468085%;
}

.row-fluid .span12 {
	width: 100%;
	*width: 99.94680851063829%;
}

.row-fluid .span11 {
	width: 91.48936170212765%;
	*width: 91.43617021276594%;
}

.row-fluid .span10 {
	width: 82.97872340425532%;
	*width: 82.92553191489361%;
}

.row-fluid .span9 {
	width: 74.46808510638297%;
	*width: 74.41489361702126%;
}

.row-fluid .span8 {
	width: 65.95744680851064%;
	*width: 65.90425531914893%;
}

.row-fluid .span7 {
	width: 57.44680851063829%;
	*width: 57.39361702127659%;
}

.row-fluid .span6 {
	width: 48.93617021276595%;
	*width: 48.88297872340425%;
}

.row-fluid .span5 {
	width: 40.42553191489362%;
	*width: 40.37234042553192%;
}

.row-fluid .span4 {
	width: 31.914893617021278%;
	*width: 31.861702127659576%;
}

.row-fluid .span3 {
	width: 23.404255319148934%;
	*width: 23.351063829787233%;
}

.row-fluid .span2 {
	width: 14.893617021276595%;
	*width: 14.840425531914894%;
}

.row-fluid .span1 {
	width: 6.382978723404255%;
	*width: 6.329787234042553%;
}

.row-fluid .offset12 {
	margin-left: 104.25531914893617%;
	*margin-left: 104.14893617021275%;
}

.row-fluid .offset12:first-child {
	margin-left: 102.12765957446808%;
	*margin-left: 102.02127659574467%;
}

.row-fluid .offset11 {
	margin-left: 95.74468085106382%;
	*margin-left: 95.6382978723404%;
}

.row-fluid .offset11:first-child {
	margin-left: 93.61702127659574%;
	*margin-left: 93.51063829787232%;
}

.row-fluid .offset10 {
	margin-left: 87.23404255319149%;
	*margin-left: 87.12765957446807%;
}

.row-fluid .offset10:first-child {
	margin-left: 85.1063829787234%;
	*margin-left: 84.99999999999999%;
}

.row-fluid .offset9 {
	margin-left: 78.72340425531914%;
	*margin-left: 78.61702127659572%;
}

.row-fluid .offset9:first-child {
	margin-left: 76.59574468085106%;
	*margin-left: 76.48936170212764%;
}

.row-fluid .offset8 {
	margin-left: 70.2127659574468%;
	*margin-left: 70.10638297872339%;
}

.row-fluid .offset8:first-child {
	margin-left: 68.08510638297872%;
	*margin-left: 67.9787234042553%;
}

.row-fluid .offset7 {
	margin-left: 61.70212765957446%;
	*margin-left: 61.59574468085106%;
}

.row-fluid .offset7:first-child {
	margin-left: 59.574468085106375%;
	*margin-left: 59.46808510638297%;
}

.row-fluid .offset6 {
	margin-left: 53.191489361702125%;
	*margin-left: 53.085106382978715%;
}

.row-fluid .offset6:first-child {
	margin-left: 51.063829787234035%;
	*margin-left: 50.95744680851063%;
}

.row-fluid .offset5 {
	margin-left: 44.68085106382979%;
	*margin-left: 44.57446808510638%;
}

.row-fluid .offset5:first-child {
	margin-left: 42.5531914893617%;
	*margin-left: 42.4468085106383%;
}

.row-fluid .offset4 {
	margin-left: 36.170212765957444%;
	*margin-left: 36.06382978723405%;
}

.row-fluid .offset4:first-child {
	margin-left: 34.04255319148936%;
	*margin-left: 33.93617021276596%;
}

.row-fluid .offset3 {
	margin-left: 27.659574468085104%;
	*margin-left: 27.5531914893617%;
}

.row-fluid .offset3:first-child {
	margin-left: 25.53191489361702%;
	*margin-left: 25.425531914893618%;
}

.row-fluid .offset2 {
	margin-left: 19.148936170212764%;
	*margin-left: 19.04255319148936%;
}

.row-fluid .offset2:first-child {
	margin-left: 17.02127659574468%;
	*margin-left: 16.914893617021278%;
}

.row-fluid .offset1 {
	margin-left: 10.638297872340425%;
	*margin-left: 10.53191489361702%;
}

.row-fluid .offset1:first-child {
	margin-left: 8.51063829787234%;
	*margin-left: 8.404255319148938%;
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
	display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
	float: right;
}
.form-horizontal .control-group {
	margin-bottom: 0;
}
.control-group {
	margin-bottom: 10px;
}
.form-horizontal .control-group::before, .form-horizontal .control-group::after {
	display: table;
	line-height: 0;
	content: "";
}
.form-horizontal .control-group::after {
	clear: both;
}
.form-horizontal .control-group::before, .form-horizontal .control-group::after {
	display: table;
	line-height: 0;
	content: "";
}

.form-horizontal .control-label {
	float: left;
	width: 100px;
	padding-top: 10px;
	font-size: 12px;
	color: #444;
	font-weight: bold;
}
.form-horizontal .controls {
	margin-left: 100px;
}
.lt-ie9 .form-horizontal .controls {
	margin-left: 0;
}
.controls select {
	margin: 5px 0;
}
.lt-ie9 .controls select {
	width: 100%;
}
.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
	display: inline-block;
}
.input-append input, .input-append select, .input-append .uneditable-input {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover {
	font-size: 14px;
}


input.span2, textarea.span2, .uneditable-input.span2 {
	width: 126px;
}
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
	float: none;
	margin-left: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
label {
	display: block;
	margin-bottom: 5px;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}

select {
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select, input[type="file"] {
	height: 30px;
	line-height: 30px;
}
.langIcon {float: right; padding-top: 6px; padding-left: 6px; cursor: pointer;}
.langMenuDropdown {width: 120px; height: 140px; background-color: white; border: 1px solid black; position: absolute; z-index: 1001; right: 0; display: none;}
.langMenuIframe {width: 122px; height:142px; z-index: 1000; position: absolute; right: 0;  display: none; border: none;}
.langMenuItem {width: 100%; height: 24px; background-color: #fafafa; cursor: pointer; padding-top: 4px}
.langMenuItem:hover {width: 100%; height: 24px; background-color: #cacaca;}
.langMenuIcon {padding-left: 5px; padding-right: 5px;}
.langMenuLabel {font-family: Arial; font-size: 12px;}
