/*
This file is part of the Kontorol Collaborative Media Suite which allows users
to do with audio, video, and animation what Wiki platfroms allow them to do with 
text.

Copyright (C) 2006-2008  Kontorol Inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

html,body { height:100%; }
#overlay{ position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background-color:black; opacity:0.8; filter: alpha(opacity=50); cursor: wait; }

#modalbox{ position: absolute; left: 50%; top:9%; margin:0 0 0 -340px; width: 680px; z-index: 100; }
#modalbox.locked{ position:absolute; top:15%; left:0; margin:0; border:0; }


* html #overlay{ position: absolute; background-color:#000; height:expression(document.body.clientHeight + "px"); }
* html #modalbox{ position: absolute; }

#modalbox iframe{ overflow:hidden; }

.kontorolCode{ font-size: 20px; padding: 5px; }

#mbContent{ padding:10px; -moz-border-radius:6px; -webkit-border-radius:6px; background:#E1E1E1; border:1px solid #ccc; font-family: arial; }
	#mbContent .title{ padding:0 0 5px 0; color:#333; }
		#mbContent div.title a{ float:right; width:19px; height:19px; margin-left:5px; background:url(../images/kmc/action_btns.gif) 0 0 no-repeat;  cursor: pointer; }
		#mbContent div.title a:hover{ background-position:0 bottom; }
		#mbContent .title a.closeBtn{ background-position:-19px 0; }
		#mbContent .title a.closeBtn:hover{ background-position:-19px bottom; }
	#mbContent .kplayer{  }
	#mbContent .embed_code{  }
		#mbContent .embed_code textarea{ width:390px; border:1px solid #aaa; font-size:11px; overflow-x:hidden; }
	#mbContent .buttons{ padding:10px 0 0; text-align:center; }
