<p><?php echo $this->translate('delivery-profiles-configuration intro text'); ?></p>

   <?php echo $this->form; ?>
   <?php echo $this->newForm; ?>

<?php if ($this->paginator->hasError()): ?>
	<div class="error">
		<ul>
			<li><?php echo $this->translate($this->paginator->getErrorDescription()); ?></li>
		</ul>
	</div>
<?php endif; ?>

<div id="results" class="clear">
	<h2><?php echo $this->translate('delivery-profiles-configuration results count', $this->paginator->getItemsCount()); ?></h2>
	<table class="clear">
		<thead>
			<tr>
				<th><?php echo $this->translate('Status'); ?></th>
				<th><?php echo $this->translate('ID'); ?></th>
				<th><?php echo $this->translate('Name'); ?></th>
				<th><?php echo $this->translate('Type'); ?></th>
				<th><?php echo $this->translate('Streamer Type'); ?></th>
				<th><?php echo $this->translate('Media protocols'); ?></th>
				<th><?php echo $this->translate('Url'); ?></th>
				<th><?php echo $this->translate('Recognizer'); ?></th>
				<th><?php echo $this->translate('Tokenizer'); ?></th>
				<th><?php echo $this->translate('Creation Date'); ?></th>
				<th><?php echo $this->translate('Updated At'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="16"><?php echo $this->paginator; ?></td>
			</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as /* Kontorol_Client_Type_DeliveryProfile */ $delivery): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
			
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_DeliveryStatus', $delivery->status); ?></td>
				<td><?php echo $delivery->id; ?></td>
				<td><?php echo $delivery->name; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_DeliveryProfileType', $delivery->type); ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_Enum_PlaybackProtocol', $delivery->streamerType); ?></td>
				<td><?php echo $delivery->mediaProtocols; ?></td>
				<td><?php echo $delivery->url; ?></td>
				<td><?php echo (is_null($delivery->recognizer) ? "-" : 
						$this->translate(get_class($delivery->recognizer))); ?></td>
				<td><?php echo (is_null($delivery->tokenizer) ? "-" : 
						$this->translate(get_class($delivery->tokenizer))); ?></td>
				<td><?php echo $this->dateFormat($delivery->createdAt, Zend_Date::DATE_LONG); ?></td>
				<td><?php echo $this->dateFormat($delivery->updatedAt, Zend_Date::DATE_LONG); ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $delivery->partnerId; ?>, <?php echo $delivery->id; ?>, 
					<?php echo $delivery->status;?>,
					<?php if(is_int($delivery->type)) echo $delivery->type; else echo "'" . $delivery->type . "'"; ?>, 
					<?php if(is_null($delivery->tokenizer)) echo "'Null'"; else echo "'" . get_class($delivery->tokenizer) . "'"; ?>, 
					<?php if(is_null($delivery->recognizer)) echo "'Null'"; else echo "'" . get_class($delivery->recognizer) . "'"; ?>)">
					
						<!-- Actions -->
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<option value="configure"><?php echo $this->translate('Configure'); ?></option>
						<?php if ($delivery->status == Kontorol_Client_Enum_DeliveryStatus::DELETED): ?>
							<option value="enable"><?php echo $this->translate('Enable'); ?></option>
						<?php else:?>
							<option value="deleteDP"><?php echo $this->translate('Delete'); ?></option>
							<?php if ($delivery->status == Kontorol_Client_Enum_DeliveryStatus::ACTIVE): ?>
								<option value="disable"><?php echo $this->translate('Disable'); ?></option>
							<?php elseif ($delivery->status == Kontorol_Client_Enum_DeliveryStatus::STAGING_IN):?>
								<option value="enable"><?php echo $this->translate('Enable'); ?></option>
							<?php endif;?>
						<?php endif; ?>
						<!-- Actions -->
						
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>



<script type="text/javascript">
$(function(){
	addSubTitle('Delivery Profiles');
});

jQuery('#filter_type').change(function() {
	if(this.value == "none") {
		$("#filter_text").css("display","none");
		$("div.help").hide();
	}
	else {
		$("#filter_text").css("display","inline");
		$("#filter_text input").focus();
		if(this.value == "free")
			$("div.help").show();
		else
			$("div.help").hide();
	}
});

jQuery('#filter_type').change();

function doAction(action, partnerId, deliveryProfieId, deliveryStatus) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}

var dialogDiv;
function newDeliveryProfile(partnerId,type) {

	var url = '<?php echo $this->url(array('controller' => 'delivery', 'action' => 'configure-delivery-profile', 'partnerId' => 'PARTNER_ID', 
		'type'=>'TYPE', 'tokenizerClz' => 'Null', 'recognizerClz' => 'Null')); ?>' + '/new_partner_id/' + partnerId
	url = url.replace('PARTNER_ID', partnerId);
	url = url.replace('TYPE', type);
	
	jQuery('#delivery-profile-configure-dialog').remove();
	dialogDiv = jQuery('<div id="delivery-profile-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 950,
		height: 650,
		title: '<?php echo $this->translate('Delivery Profile Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmDeliveryProfileConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {	
		}	
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('#frmDeliveryProfileConfig').ajaxForm({
				success: newDeliveryProfileSuccess,
				iframe: true
			});
		}
	);
}

function newDeliveryProfileSuccess(html) {
	if (jQuery(html).filter('#frmDeliveryProfileConfig').hasClass('valid')) 
	{
		dialogDiv.dialog('close');
		if (jQuery('#frmPaginator1').length){
			jQuery('#frmPaginator1').submit();
		}
		else {
			jQuery('#frmPartnerIdFilter').submit();
		}
	}
	jQuery('#frmDeliveryProfileConfig').replaceWith(html);
	jQuery(this).find('#frmDeliveryProfileConfig').ajaxForm({
		success: newDeliveryProfileSuccess,
		iframe: true
	});
}

function configure(partnerId, deliveryProfileId, status, type, tokenizerClass, recognizerClass) {

	var url = '<?php echo $this->url(array('controller' => 'delivery', 'action' => 'configure-delivery-profile', 'partnerId' => 'PARTNER_ID', 
			'type'=>'TYPE', 'tokenizerClz' => 'TOKENIZER', 'recognizerClz' => 'RECOGNIZER', 'deliveryProfileId' => '')); ?>' + deliveryProfileId;
	url = url.replace('PARTNER_ID', partnerId);
	url = url.replace('TYPE', type);
	url = url.replace('TOKENIZER', tokenizerClass);
	url = url.replace('RECOGNIZER', recognizerClass);
	
	jQuery('#delivery-profile-configure-dialog').remove();
	dialogDiv = jQuery('<div id="delivery-profile-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 950,
		height: 650,
		title: '<?php echo $this->translate('Delivery Profile Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmDeliveryProfileConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			
		}	
	});
	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('#frmDeliveryProfileConfig').ajaxForm({
				success: newDeliveryProfileSuccess,
				iframe: true
			});
		}
	);
}

function disable(partnerId, deliveryProfileId, status)
{
	var ok = confirm('<?php echo $this->translate('Disable delivery profile?'); ?>');
	if (ok)
	{
		changeStatus(
				partnerId, 
				deliveryProfileId, 
			<?php echo Kontorol_Client_Enum_DeliveryStatus::STAGING_IN; ?>,
			function() {
				alert('<?php echo $this->translate('Delivery profile was disabled');?>');
			}
		);
	}
}

function deleteDP(partnerId, deliveryProfileId, curStatus)
{
	var ok = confirm('<?php echo $this->translate('Delete delivery profile?'); ?>');
	if (ok)
	{
		var status = <?php echo Kontorol_Client_Enum_DeliveryStatus::DELETED; ?>;
		if(curStatus == <?php echo Kontorol_Client_Enum_DeliveryStatus::ACTIVE; ?>)
			status = <?php echo Kontorol_Client_Enum_DeliveryStatus::STAGING_OUT; ?>;
			
		changeStatus(
				partnerId, 
				deliveryProfileId, 
				status, 
			function() {
				alert('<?php echo $this->translate('Delivery profile was deleted');?>');
			}
		);
	}
}

function enable(partnerId, deliveryProfileId, curStatus)
{
	var ok = confirm('<?php echo $this->translate('Enable delivery profile?'); ?>');
	if (ok)
	{
		var status = <?php echo Kontorol_Client_Enum_DeliveryStatus::ACTIVE; ?>;
		if(curStatus == <?php echo Kontorol_Client_Enum_DeliveryStatus::DELETED; ?>)
			status = <?php echo Kontorol_Client_Enum_DeliveryStatus::STAGING_IN; ?>;
			
		changeStatus(
				partnerId, 
				deliveryProfileId, 
				status, 
			function() {
				alert('<?php echo $this->translate('Delivery profile was enabled');?>');
			}
		);
	}
}

function changeStatus(partnerId, deliveryProfileId, status, callback)
{
	var url = '<?php echo $this->url(array('controller' => 'delivery', 'action' => 'update-delivery-profile-status', 'deliveryProfileId' => 'DELIVERY_PROFILE_ID', 'partnerId' => 'PARTNER_ID', 'status' => 'STATUS')); ?>';
	url = url.replace('STATUS', status);
	url = url.replace('DELIVERY_PROFILE_ID', deliveryProfileId);
	url = url.replace('PARTNER_ID', partnerId);
	jQuery.ajax({
		url: url,
		dataType: 'json',
		success: function(result) {
			if (result != 'ok')
				this.error();
			
			if (callback && (typeof callback == 'function'))
			{
				callback.apply(this);
			}

			jQuery('#frmPaginator1').submit();
		},
		error: function() {
			alert('<?php echo $this->translate('an error occured'); ?>');
		}
	});
}

</script>
