
<?php if($this->errMessage): ?>
<div class="error"><?php echo $this->errMessage ?></div>
<?php endif; ?>

<?php echo $this->form ?>
<script type="text/javascript">

var newThumbDimensionsIndex = 0;

function newThumbDimensions() {
	var newThumbDimensionsTemplate = jQuery(".newThumbDimensions:last");
	var newThumbDimensionsForm = newThumbDimensionsTemplate.clone();
	newThumbDimensionsForm.removeClass("newThumbDimensions");
	newThumbDimensionsForm.find('[name="dimensionsWidth"]').attr('name', 'dimensionsWidth[' + newThumbDimensionsIndex + ']');
	newThumbDimensionsForm.find('[name="dimensionsHeight"]').attr('name', 'dimensionsHeight[' + newThumbDimensionsIndex + ']');
	newThumbDimensionsForm.find('[name="dimensionsRequired"]').attr('name', 'dimensionsRequired[' + newThumbDimensionsIndex + ']');
	newThumbDimensionsTemplate.after(newThumbDimensionsForm);
	newThumbDimensionsForm.show();

	newThumbDimensionsIndex++;
}

function removeThumbDimensions(index){
	jQuery(".thumbDimensions_" + index).remove();
}

function actionEnabledChanged(action){
	var enabled = jQuery("." + action + "-enabled").find(':selected').val();
	var fields = jQuery(".action-fields-" + action);
	if(enabled == <?php echo Kontorol_Client_ContentDistribution_Enum_DistributionProfileActionStatus::DISABLED; ?>)
		fields.hide();
	else
		fields.show();
}

function fileClicked(dataClass){
	var dataField = jQuery("." + dataClass);
	if(!dataField.size())
		return false;
	
	var data = dataField.val();
	
	jQuery('#file-view-dialog').remove();
	dialogDiv = jQuery('<div id="file-view-dialog"/>|</div>').appendTo('body');
	dialogDiv.text(data);
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 400,
		height: 200,
		title: '<?php echo $this->translate('File data'); ?>',
		buttons: {
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
		}	
	});	
	dialogDiv.load();
	
	return false;
}

function filesLoaded(){
	var $dataField = jQuery(".file-data");
	if(!$dataField.size())
		return false;

	$dataField.each(function(index, element){
		var classes = element.className.split(" ");
		for(var i = 0; i < classes.length; i++){
			var dataClass = classes[i];
			var labelClass = dataClass.replace("-data", "-file-label");
			var $label = $("." + labelClass);
			if(!$label.size())
				return;

			$label.click(function(){
				fileClicked(dataClass);
				return false;
			});
			$label.wrap('<a href="#"/>');
		}
	});
}

// in case the form has file upload fields (YouTube for example), ajaxForm will use iframe to submit 
// this form and the result data will be injected to an empty iframe without jquery, causing a js error.
if (typeof(jQuery) != 'undefined') {
	jQuery(function() {
		actionEnabledChanged("submit");
		actionEnabledChanged("update");
		actionEnabledChanged("delete");
		actionEnabledChanged("report");
		filesLoaded();
	});
}

jQuery(document).ready(function() {
	<?php if ($this->formValid): ?>
		jQuery('#partner-configure-dialog').dialog('close');
		jQuery('#frmPaginator1').submit();
	<?php endif; ?>
});

</script>
