
<p><?php echo $this->translate('distribution-profiles intro text'); ?></p>

<?php echo $this->form; ?>
<?php echo $this->newForm; ?>
<div id="results" class="clear">
	<h2>Results <span>(<?php echo $this->paginator->getItemsCount(); ?> distribution profiles)</span></h2>
	<table class="clear">
		<thead>
			<tr>
				<th><?php echo $this->translate('Status'); ?></th>
				<th><?php echo $this->translate('ID'); ?></th>
				<th><?php echo $this->translate('Publisher ID'); ?></th>
				<th><?php echo $this->translate('Provider'); ?></th>
				<th><?php echo $this->translate('Name'); ?></th>
				<th><?php echo $this->translate('Creation Date'); ?></th>
				<th><?php echo $this->translate('Updated At'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="16"><?php echo $this->paginator; ?></td>
			</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as /* KontorolDistributionProfile */ $profile): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $this->enumTranslate('Kontorol_Client_ContentDistribution_Enum_DistributionProfileStatus', $profile->status); ?></td>
				<td><?php echo $profile->id; ?></td>
				<td><?php echo $profile->partnerId; ?></td>
				<td><?php echo ($profile->providerType == Kontorol_Client_ContentDistribution_Enum_DistributionProviderType::GENERIC ? 'Generic ' . (isset($this->genericProviders[$profile->genericProviderId]) ? '(' . $this->genericProviders[$profile->genericProviderId] . ')' : '') : $this->providers[$profile->providerType]); ?></td>
				<td><?php echo $profile->name; ?></td>
				<td><?php $d = (new Zend_Date($profile->createdAt)); echo $d->toString(Zend_Date::DATE_LONG); ?></td>
				<td><?php $du = (new Zend_Date($profile->updatedAt)); echo $du->toString(Zend_Date::DATE_LONG); ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $profile->id; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<option value="configure"><?php echo $this->translate('Configure'); ?></option>
						<?php if($profile->status == Kontorol_Client_ContentDistribution_Enum_DistributionProfileStatus::ENABLED): ?>
							<option value="disableProfile"><?php echo $this->translate('Disable'); ?></option>
						<?php else: ?>
							<option value="enableProfile"><?php echo $this->translate('Enable'); ?></option>
						<?php endif; ?>
						<option value="remove"><?php echo $this->translate('Remove'); ?></option>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>


<script type="text/javascript">
$(function(){
	addSubTitle('Distribution Profiles');
});


jQuery('#filter_type').change(function() {
	if(this.value == "none") {
		$("#filter_text").css("display","none");
		$("div.help").hide();
	}
	else {
		$("#filter_text").css("display","inline");
		$("#filter_text input").focus();
		if(this.value == "free")
			$("div.help").show();
		else
			$("div.help").hide();
	}
});

jQuery('#filter_type').change();

function doAction(action, profileId) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}

function configure(profileId) {
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'DistributionProfileConfigureAction', 'profile_id' => '')); ?>' + profileId;
	
	jQuery('#provider-configure-dialog').remove();
	dialogDiv = jQuery('<div id="provider-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 600,
		height: 600,
		title: '<?php echo $this->translate('Profile Setup Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmDistributionProfileConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});
	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('#frmDistributionProfileConfig').ajaxForm({
				success: newDistributionProfileSuccess,
				iframe: true
			});
		}
	);
}

function disableProfile(profileId){
	updateStatus(
		profileId, 
		<?php echo Kontorol_Client_ContentDistribution_Enum_DistributionProfileStatus::DISABLED; ?>,
		function() {
			alert('<?php echo $this->translate('distribution-profile was disabled');?>');
		}
	);
}

function enableProfile(profileId){
	updateStatus(
		profileId, 
		<?php echo Kontorol_Client_ContentDistribution_Enum_DistributionProfileStatus::ENABLED; ?>,
		function() {
			alert('<?php echo $this->translate('distribution-profile was enabled');?>');
		}
	);
}

function remove(profileId)
{
	var ok = confirm('<?php echo $this->translate('are you sure delete the profile?'); ?>');
	if (!ok)
		return;

	updateStatus(
		profileId, 
		<?php echo Kontorol_Client_ContentDistribution_Enum_DistributionProfileStatus::DELETED; ?>,
		function() {
			alert('<?php echo $this->translate('distribution-profile was removed');?>');
		}
	);
}

function updateStatus(profileId, status, callback)
{
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'DistributionProfileUpdateStatusAction', 'profile_id' => 'PROFILE_ID', 'status' => 'STATUS')); ?>';
	url = url.replace('PROFILE_ID', profileId);
	url = url.replace('STATUS', status);
	
	jQuery.ajax({
		url: url,
		dataType: 'json',
		success: function(result) {
			if (result != 'ok')
			{
				this.error(result);
				return;
			}

			if (callback && (typeof callback == 'function'))
			{
				callback.apply(this);
			}

			jQuery('#frmPaginator1').submit();
		},
		error: function(result) {
			alert('<?php echo $this->translate('an error occured'); ?>: ' + result);
		}
	});
}

function newDistributionProfile(partnerId, providerType) {
	if(!partnerId.length || isNaN(partnerId)){
		alert('<?php echo $this->translate('partner id not supplied'); ?>');
		return;
	}
	
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'DistributionProfileConfigureAction', 'partner_id' => 'PARTNERID', 'provider_type' => 'PROVIDERTYPE')); ?>';
	url = url.replace('PARTNERID', partnerId);
	url = url.replace('PROVIDERTYPE', providerType);
	
	jQuery('#partner-configure-dialog').remove();
	dialogDiv = jQuery('<div id="profile-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 600,
		height: 600,
		title: '<?php echo $this->translate('Profile Setup Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmDistributionProfileConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('#frmDistributionProfileConfig').ajaxForm({
				success: newDistributionProfileSuccess,
				iframe: true
			});
		}
	);
}

function newDistributionProfileSuccess(html) {
	if (jQuery(html).filter('#frmDistributionProfileConfig').hasClass('valid')) 
	{
		dialogDiv.dialog('close');
		if (jQuery('#frmPaginator1').length){
			jQuery('#frmPaginator1').submit();
		}
		else {
			jQuery('#frmPartnerIdFilter').submit();
		}
	}
	else
	{
		jQuery('#frmDistributionProfileConfig').parent().empty().append(html);
		jQuery('#frmDistributionProfileConfig').ajaxForm({
			success: newDistributionProfileSuccess,
			iframe: true
		});
	}
}

</script>
