<?php 
	$this->headScript()	->setIndent("	")
						->appendFile($this->baseUrl('codemirror/js/codemirror.js'));
?>

<p></p>
<?php echo $this->form; ?>
<?php echo $this->newButton; ?>
<div id="results" class="clear">
	<?php $count = $this->paginator->getItemsCount(); ?>
	<h2><?php echo $this->translate('Results'); ?><span> (<?php echo $count; ?> <?php echo $this->translate(array('report', 'reports', $count)); ?>)</span></h2>
	<table class="clear">
		<thead>
			<tr>
				<th><?php echo $this->translate('Report ID'); ?></th>
				<th><?php echo $this->translate('Publisher'); ?></th>
				<th><?php echo $this->translate('Name'); ?></th>
				<th><?php echo $this->translate('System Name'); ?></th>
				<th><?php echo $this->translate('Created At'); ?></th>
				<th><?php echo $this->translate('Updated At'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="16"><?php echo $this->paginator; ?></td>
			</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as $report): /* @var $report Kontorol_Client_Type_Report */ ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $report->id; ?></td>
				<td>
					<?php if (isset($report->partner)): ?>
						<?php echo $report->partner->name; ?> (<?php echo $report->partnerId; ?>)
					<?php else: ?>
						<?php echo $report->partnerId; ?>
					<?php endif; ?>
				</td>
				<td><?php echo $report->name; ?></td>
				<td><?php echo $report->systemName; ?></td>
				<td><?php echo $this->dateFormat($report->createdAt, Zend_Date::DATE_LONG); ?></td>
				<td><?php echo $this->dateFormat($report->updatedAt, Zend_Date::DATE_LONG); ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $report->id; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<?php if (Infra_AclHelper::isAllowed('report', 'edit')): ?>
							<option value="editForm" ><?php echo $this->translate('Edit'); ?></option>
						<?php endif; ?>
						<?php if (Infra_AclHelper::isAllowed('report','test')): ?>
							<option value="testReport" ><?php echo $this->translate('Test'); ?></option>
						<?php endif; ?>
						<?php if (Infra_AclHelper::isAllowed('report','get-url')): ?>
							<option value="getUrl" ><?php echo $this->translate('Get Url'); ?></option>
						<?php endif; ?>
						<?php if (Infra_AclHelper::isAllowed('report','delete')): ?>
							<option value="deleteReport" ><?php echo $this->translate('Delete'); ?></option>
						<?php endif; ?>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>


<script type="text/javascript">
jQuery('#filter_type').change(function() {
	if(this.value == "none") {
		$("#filter_text").css("display","none");
		$("div.help").hide();
	}
	else {
		$("#filter_text").css("display","inline");
		$("#filter_text input").focus();
		if(this.value == "free")
			$("div.help").show();
		else
			$("div.help").hide();
	}
});

jQuery('#filter_type').change();

function doAction(action, id) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}

function editForm(id) {
	var url = '<?php echo $this->url(array('controller' => 'report', 'action' => 'edit'), null, true); ?>' + '/id/' + id;
	
	jQuery('#report-dialog').remove();
	dialogDiv = jQuery('<div id="report-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: jQuery(window).width() * 0.8,
		height: Math.min(jQuery(window).height() * 0.9, 580),
		title: '<?php echo $this->translate('Edit Report'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('form').submit();
			},
				'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('form').ajaxForm({
				success: formSubmit,
				iframe: true
			});
		}
	);
}

function newForm(partnerId) {
	var url = '<?php echo $this->url(array('controller' => 'report', 'action' => 'create'), null, true); ?>' + '/partner_id/' + partnerId;
	
	jQuery('#report-dialog').remove();
	dialogDiv = jQuery('<div id="report-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: jQuery(window).width() * 0.8,
		height: Math.min(jQuery(window).height() * 0.9, 580),
		title: '<?php echo $this->translate('Add New Report'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('form').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('form').ajaxForm({
				success: formSubmit,
				iframe: true
			});
		}
	);
}

function deleteReport(id) {
	var ok = confirm('<?php echo $this->translate('Are you sure you want to delete this report?'); ?>');

	if (ok) {
		var url = '<?php echo $this->url(array('controller' => 'report', 'action' => 'delete', 'id' => '')); ?>' + id;

		jQuery.ajax({
			url: url,
			dataType: 'json',
			success: function(result) {
				if (result != 'ok')
					return this.error();
				alert('<?php echo $this->translate('Report was deleted');?>');
				jQuery('#frmPaginator1').submit();
			},
			error: function() {
				alert('<?php echo $this->translate('An error occurred while deleting the report');?>');
			}
		});
	}
}

function getUrl(id) {
	var partnerId = prompt('<?php echo $this->translate('Please enter the partner id for this report url:'); ?>');

	if (partnerId) {
		var url = '<?php echo $this->url(array('controller' => 'report', 'action' => 'get-url', null, true)); ?>/id/'+id+'/partner-id/'+partnerId;

		jQuery.ajax({
			url: url,
			dataType: 'json',
			success: function(response) {
				if (response.code && response.message)
					return alert(response.message);

				alert(response.url);
			},
			error: function() {
				alert('<?php echo $this->translate('An error occurred while creating the url');?>');
			}
		});
	}
	else
	{
		alert('<?php echo $this->translate('Partner id was not provided'); ?>');
	}	
}

function testReport(id) {
	var url = '<?php echo $this->url(array('controller' => 'report', 'action' => 'get-parameters'), null, true); ?>' + '/id/' + id;
	jQuery.ajax({
		url: url,
		success: function(response) {
			if (response.code && response.message)
				alert(response.message);

			var params = {};
			var showReport = true;
			jQuery(response).each(function(i, obj) {
				var value = prompt('Value for ' + obj.value);
				if (!value) {
					alert('Value was not set');
					showReport = false;
					return false;
				}
				params[obj.value] = value;
			});

			var url = '<?php echo $this->url(array('controller' => 'report', 'action' => 'test'), null, true); ?>' + '/id/' + id;
			jQuery.ajax({
				data: { params: params},
				url: url,
				success: function(response) {
					if (response.code && response.message)
						alert(response.message);

					var columns = response.columns.split(',');
					var tableData = [];
					tableData.push('<div>');
					tableData.push('<table>');
					
					tableData.push('<tr>');
					for(var i = 0; i < columns.length; i++) {
							tableData.push('<th>'+columns[i]+'</th>');
					};
					tableData.push('</tr>');
					for(var i = 0; i < response.results.length; i++) {
						var result = response.results[i].value;
						var columns = result.split(',');
						tableData.push('<tr>');
						for(var j = 0; j < columns.length; j++) {
							tableData.push('<td>'+columns[j]+'</td>');
						};
						tableData.push('</tr>');
					}
					tableData.push('</table>');
					tableData.push('</div>');

					showTableInDialog(tableData.join(''));
				}
			});
		}
	});
}

function showTableInDialog(tableData) {
	var dialogDiv = jQuery(tableData).appendTo('body');
	dialogDiv.find('table').css('width', '100%');
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		width: jQuery(window).width() * 0.8,
		height: Math.min(jQuery(window).height() * 0.9, 580),
		buttons: {},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});	
}

function formSubmit(html) {
	jQuery('#report-dialog').find('form').replaceWith(html);
	jQuery('#report-dialog').find('form').ajaxForm({
		success: formSubmit,
		iframe: true
	});
}

</script>
