
<p><?php echo $this->translate('event notification templates intro text'); ?></p>

<?php echo $this->form; ?>
<?php echo $this->newForm; ?>
<div id="results" class="clear">
	<h2>Results <span>(<?php echo $this->paginator->getItemsCount(); ?> event notification templates)</span></h2>
	<table class="clear">
		<thead>
			<tr>
				<th><?php echo $this->translate('Status'); ?></th>
				<th><?php echo $this->translate('ID'); ?></th>
				<th><?php echo $this->translate('Type'); ?></th>
				<th><?php echo $this->translate('Name'); ?></th>
                <th><?php echo $this->translate('System Name'); ?></th>
				<th><?php echo $this->translate('Creation Date'); ?></th>
				<th><?php echo $this->translate('Action'); ?></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="16"><?php echo $this->paginator; ?></td>
			</tr>
		</tfoot>
		<tbody>
			<?php foreach($this->paginator as /* Kontorol_Client_EventNotification_Type_EventNotificationTemplate */ $template): ?>
			<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
				<td><?php echo $this->enumTranslate('Kontorol_Client_EventNotification_Enum_EventNotificationTemplateStatus', $template->status); ?></td>
				<td><?php echo $template->id; ?></td>
				<td><?php echo $this->enumTranslate('Kontorol_Client_EventNotification_Enum_EventNotificationTemplateType', $template->type); ?></td>
				<td><?php echo $template->name; ?></td>
                <td><?php echo $template->systemName; ?></td>
				<td><?php $d = (new Zend_Date($template->createdAt)); echo $d->toString(Zend_Date::DATE_LONG); ?></td>
				<td>
					<select class="options" onchange="doAction(this.value, <?php echo $template->partnerId; ?>, <?php echo $template->id; ?>)">
						<option value=""><?php echo $this->translate('Select Action'); ?></option>
						<option value="configure"><?php echo $this->translate('Configure'); ?></option>
						<?php if($template->status == Kontorol_Client_EventNotification_Enum_EventNotificationTemplateStatus::ACTIVE): ?>
							<option value="disableTemplate"><?php echo $this->translate('Disable'); ?></option>
						<?php else: ?>
							<option value="enableTemplate"><?php echo $this->translate('Enable'); ?></option>
						<?php endif; ?>
						<option value="remove"><?php echo $this->translate('Remove'); ?></option>
					</select>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
</div>


<script type="text/javascript">
$(function(){
	addSubTitle('Event notification templates');
	switchTemplatesBox();
});


jQuery('#filter_type').change(function() {
	if(this.value == "none") {
		$("#filter_text").css("display","none");
		$("div.help").hide();
	}
	else {
		$("#filter_text").css("display","inline");
		$("#filter_text input").focus();
		if(this.value == "free")
			$("div.help").show();
		else
			$("div.help").hide();
	}
});

jQuery('#filter_type').change();

function doAction(action, partnerId, templateId) {
	if (action && eval('typeof ' + action) == 'function')
	{
		f = eval(action);
		Array.prototype.shift.apply(arguments);
		f.apply(this, arguments);
	}
	jQuery('select.options').val('');
}

function configure(partnerId, templateId) {
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'EventNotificationTemplateConfigureAction', 'partner_id' => 'PARTNER_ID', 'template_id' => '')); ?>' + templateId;
	url = url.replace('PARTNER_ID', partnerId);
	
	jQuery('#configure-dialog').remove();
	dialogDiv = jQuery('<div id="configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 900,
		height: 600,
		title: '<?php echo $this->translate('Template Setup Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery(this).find('#frmEventNotificationTemplateConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});
	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery(this).find('#frmEventNotificationTemplateConfig').ajaxForm({
				success: newEventNotificationTemplateSuccess,
				iframe: true
			});
		}
	);
}

function disableTemplate(partnerId, templateId){
	updateStatus(
			partnerId, 
			templateId, 
		<?php echo Kontorol_Client_EventNotification_Enum_EventNotificationTemplateStatus::DISABLED; ?>,
		function() {
			alert('<?php echo $this->translate('Template was disabled');?>');
		}
	);
}

function enableTemplate(partnerId, templateId){
	updateStatus(
		partnerId, 
		templateId, 
		<?php echo Kontorol_Client_EventNotification_Enum_EventNotificationTemplateStatus::ACTIVE; ?>,
		function() {
			alert('<?php echo $this->translate('Template was activated');?>');
		}
	);
}

function remove(partnerId, templateId)
{
	var ok = confirm('<?php echo $this->translate('Are you sure delete the template?'); ?>');
	if (!ok)
		return;

	updateStatus(
		partnerId, 
		templateId, 
		<?php echo Kontorol_Client_EventNotification_Enum_EventNotificationTemplateStatus::DELETED; ?>,
		function() {
			alert('<?php echo $this->translate('Template was removed');?>');
		}
	);
}

function updateStatus(partnerId, templateId, status, callback)
{
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'EventNotificationTemplateUpdateStatusAction', 'partner_id' => 'PARTNER_ID', 'template_id' => 'TEMPLATE_ID', 'status' => 'STATUS')); ?>';
	url = url.replace('PARTNER_ID', partnerId);
	url = url.replace('TEMPLATE_ID', templateId);
	url = url.replace('STATUS', status);
	
	jQuery.ajax({
		url: url,
		dataType: 'json',
		success: function(result) {
			if (result != 'ok')
			{
				this.error(result);
				return;
			}

			if (callback && (typeof callback == 'function'))
			{
				callback.apply(this);
			}

			jQuery('#frmPaginator1').submit();
		},
		error: function(result) {
			alert('<?php echo $this->translate('An error occured'); ?>: ' + result);
		}
	});
}

function cloneEventNotificationTemplate() {
	var partnerId = jQuery('#newPartnerId').val();
	if(isNaN(partnerId)){
		alert("Partner ID is required");
		return;
	}
	
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'EventNotificationTemplateConfigureAction', 'partner_id' => 'PARTNER_ID', 'clone_template_id' => '')); ?>' + jQuery('#cloneTemplateId').val();
	url = url.replace('PARTNER_ID', partnerId);
	
	jQuery('#clone-dialog').remove();
	dialogDiv = jQuery('<div id="clone-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 900,
		height: 600,
		title: '<?php echo $this->translate('Template Setup Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery('.ui-widget-overlay').css('z-index', 1003 );
				jQuery('#loader').show();
				jQuery(this).find('#frmEventNotificationTemplateConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});
	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery('#frmEventNotificationTemplateConfig').ajaxForm({
				success: newEventNotificationTemplateSuccess,
				iframe: true
			});
		}
	);
}

var templates = <?php echo json_encode($this->templates); ?>;
function switchTemplatesBox() {

	jQuery('#cloneTemplateId').find('option').remove();

	var templateType = jQuery('#cloneTemplateType').val();	
	if(templateType == null)
		return;
	
	for(var i = 0; i < templates.length; i++){
		if(templates[i].type == templateType)
			jQuery('#cloneTemplateId').append('<option value="' + templates[i].id + '">' + templates[i].name + '</option>');
	}
}

function newEventNotificationTemplate(partnerId, type) {
	if(!partnerId.length || isNaN(partnerId)){
		alert('<?php echo $this->translate('Partner id not supplied'); ?>');
		return;
	}
	
	var url = '<?php echo $this->url(array('controller' => 'plugin', 'action' => 'EventNotificationTemplateConfigureAction', 'partner_id' => 'PARTNERID', 'type' => 'TYPE')); ?>';
	url = url.replace('PARTNERID', partnerId);
	url = url.replace('TYPE', type);
	
	jQuery('#template-configure-dialog').remove();
	dialogDiv = jQuery('<div id="template-configure-dialog"><?php echo $this->translate('Loading...'); ?></div>').appendTo('body');
	
	dialogDiv.dialog({
		bgiframe: true,
		modal: true,
		resizable: false,
		width: 900,
		height: 600,
		title: '<?php echo $this->translate('Template Setup Configuration'); ?>',
		buttons: {
			'<?php echo $this->translate('Save'); ?>': function() {
				jQuery('.ui-widget-overlay').css('z-index', 1003 );
				jQuery('#loader').show();
				jQuery(this).find('#frmEventNotificationTemplateConfig').submit();
			},
			'<?php echo $this->translate('Close'); ?>': function() {
				jQuery(this).dialog('close');
			}
		},
		close: function() {
			jQuery(this).dialog('destroy').remove();
		}
	});	
	dialogDiv.load(
		url, 
		null, 
		function() {
			jQuery('#frmEventNotificationTemplateConfig').ajaxForm({
				success: newEventNotificationTemplateSuccess,
				iframe: true
			});
		}
	);
}

function newEventNotificationTemplateSuccess(html) {
	jQuery('.ui-widget-overlay').css('z-index', 1000 );
	jQuery('#loader').hide();
	jQuery('#frmEventNotificationTemplateConfig').replaceWith(html);
	jQuery('#frmEventNotificationTemplateConfig').ajaxForm({
		success: newEventNotificationTemplateSuccess,
		iframe: true
	});
}

</script>
