<?php if($this->errMessage): ?>
	<div class="error"><?php echo $this->errMessage ?></div><br/>
<?php else: ?>
	<p><?php echo $this->translate('Here you can search audit trail'); ?></p>
<?php endif; ?>

<?php echo $this->filterForm; ?>
<?php echo $this->newAuditTrailFolderForm; ?>
<div id="audit_trail_list_div" class="clear">
	<table>
		<thead>
		<tr>
            <th><?php echo $this->translate('ID'); ?></th>
            <th><?php echo $this->translate('Date'); ?></th>
            <th><?php echo $this->translate('Partner Id'); ?></th>
            <th><?php echo $this->translate('Type'); ?></th>
			<th><?php echo $this->translate('Object Id'); ?></th>
			<th><?php echo $this->translate('Action'); ?></th>
			<th><?php echo $this->translate('Service::Action'); ?></th>
            <th><?php echo $this->translate('User Id'); ?></th>
            <th><?php echo $this->translate('Details'); ?></th>
		</tr>
		</thead>
		<tfoot>
		<tr>
			<td colspan="14">
				<?php echo $this->paginator; ?>
			</td>
		</tr>
		</tfoot>
		<tbody>
		<?php if($this->paginator)
			foreach ($this->paginator as /* Kontorol_Client_Audit_Type_Audit*/$auditTrail):?>
				<tr class="<?php echo $this->cycle(array('odd', 'even'))->next(); ?>">
                    <td><?php echo $auditTrail->id; ?></td>
                    <td><?php echo date($this->translate('time format'), $auditTrail->createdAt); ?></td>
                    <td><?php if ($auditTrail->partnerId == -2)
							echo 'ADMIN CONSOLE';
						else
							echo $auditTrail->partnerId;?>
                    </td>
                    <td><?php echo $this->enumTranslate('Kontorol_Client_Enum_AuditTrailObjectType', $auditTrail->auditObjectType);?></td>
					<td><?php echo $auditTrail->objectId; ?></td>
                    <td><?php echo $this->enumTranslate('Kontorol_Client_Enum_AuditTrailAction', $auditTrail->action);?></td>
                    <td><?php echo $auditTrail->entryPoint; ?></td>
                    <td><?php echo $auditTrail->userId; ?></td>
                    <td><?php if (isset($auditTrail->data))
                            {
                                if (isset($auditTrail->data->info))
                                {
                                    echo $auditTrail->data->info;
                                }
                                else if (isset($auditTrail->data->changedItems))
                                {
                                    foreach ($auditTrail->data->changedItems as $changedItem)
                                    {
                                        echo 'Descriptor: ' . $changedItem->descriptor . "<br/><br/>";
                                        echo 'Old value: ' . $changedItem->oldValue . "<br/><br/>";
                                        echo 'New value: ' . $changedItem->newValue . "<br/><br/>";
                                        echo "<br/><br/>";
                                    }
                                }
                                else
                                {
                                    echo 'Version: ' . $auditTrail->data->version . "<br/>";
                                    echo 'Object Sub Type: ' . $auditTrail->data->objectSubType . "<br/>";
                                    echo 'Dc: ' . $auditTrail->data->dc . "<br/>";
                                    echo 'Original: ' . $auditTrail->data->original . "<br/>";
                                    echo $this->enumTranslate('Kontorol_Client_Enum_AuditTrailFileSyncType', $auditTrail->data->fileType) . "<br/>";
                                }
                            } ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>



<script type="text/javascript">

    jQuery('#filter_type').change(function () {
        if (this.value == "none") {
            $("#filter_text").css("display", "none");
        }
        else {
            $("#filter_text").css("display", "inline");
            $("#filter_text input").focus();
            if (this.value == "free")
                $("div.help").show();
            else
                $("div.help").hide();
        }
    });

    jQuery('#filter_type').change();

</script>
