
<p><?php echo $this->translate('gallery intro text'); ?></p>
<br />
<?php if(count($this->errors)): ?>
		<div class="error">
			<ul>
				<?php foreach($this->errors as $error): ?>
				<li><?php echo $this->translate($error); ?></li>
				<?php endforeach; ?>
			</ul>
		</div>
<?php endif; ?>
		
<div id="filters" class="clear">
	<h2><?php echo $this->translate('gallery filter title'); ?></h2>
	<?php echo $this->searchEntriesForm; ?>
</div>

<?php if($this->playerPartnerId): ?>
	<div id="results">
		<h2>&nbsp;</h2>
		<ul id="summary">
			<li><?php echo $this->translate('gallery auto refresh'); ?> <span>(every <?php echo $this->getConfigValue('refreshIntervalSec'); ?> seconds)</span>:&nbsp; <a href="#" id="cmdToggleRefresh"
				onclick="toggleRefresh();return false;"><?php echo $this->translate('gallery refresh resume label'); ?></a> &nbsp;|&nbsp;
				<a href="#" onclick="refreshPage();return false;"><?php echo $this->translate('gallery refresh now label'); ?></a></li>
		</ul>
				
		<h2><?php echo $this->translate('gallery grid title'); ?> <span>(<?php echo $this->paginator->getItemsCount() . $this->translate('gallery grid sum'); ?>)</span></h2>
	
		<table>
			<thead>
			</thead>
			<tfoot>
			<tr>
				<td colspan="11">
				<?php echo $this->paginator; ?>
				</td>
			</tr>
			</tfoot>
			<tbody>
				<tr>
					<?php 
						$recordsFound = false;
						foreach($this->paginator as $index => $entry)
						{
							/* @var $entry Kontorol_Client_Type_MediaEntry */
							
							$recordsFound = true;
							$status = $this->enumTranslate('Kontorol_Client_Enum_EntryStatus', $entry->status);
							if($entry->status == Kontorol_Client_Enum_EntryStatus::READY)
								$status = "<font color=\"green\">$status</font>";
							elseif($entry->status < 0)
								$status = "<font color=\"red\">$status</font>";
							?>
								<td style="padding: 1px;" valign="top">
									<table cellpadding="0" cellspacing="0" style="border: 0px; margin: 0px;">
										<tr>
											<td style="border: 0px; padding: 0px;"><?php echo (strlen($entry->name) > 23 ? substr($entry->name, 0, 20) . '...' : $entry->name); ?></td>
										</tr>
										<tr>
											<td style="border: 0px; padding: 0px;">ID: <a href="<?php echo $this->url(array('controller' => 'batch', 'action' => 'entry-investigation', 'entryId' => $entry->id)); ?>" target="_blank"><?php echo $entry->id; ?></a> (<?php echo $status; ?>)</td>
										</tr>
										<tr>
											<td style="border: 0px; padding: 0px;">Created: <?php echo date($this->translate('time format'), $entry->createdAt); ?></td>
										</tr>
										<tr>
											<td style="border: 0px; padding: 0px;">Updated: <?php echo date($this->translate('time format'), $entry->updatedAt); ?></td>
										</tr>
										<tr>
											<td style="border: 0px; padding: 0px; cursor: pointer;" onclick="playEntry('<?php echo $entry->id; ?>')"><img style="border: 0px;" src="<?php echo $entry->thumbnailUrl; ?>" width="120" /></td>
										</tr>
									</table>
								</td>
							<?php
							if(!(($index + 1) % 8))
								echo "</tr><tr>";
						}
						if(!$recordsFound)
						{
							?>
								<td colspan="4"><?php echo $this->translate('no results'); ?></td>
							<?php
						} 
					?>
				</tr>
			</tbody>
		</table>
		
		<?php 
			if($this->uiConf)
			{
				$uiConf = $this->uiConf;
				$swfUrl = $this->swfUrl;
				$flashVars = array(
					'externalInterfaceDisabled' => false,
					'partnerId' => $this->playerPartnerId,
				);
				
				/* @var $uiConf Kontorol_Client_AdminConsole_Type_UiConfAdmin */
				?>
				<div>
					<object id="kontorol_player" name="kontorol_player" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="<?php echo $uiConf->height; ?>" width="<?php echo $uiConf->width; ?>" bgcolor="#000000" xmlns:dc="http://purl.org/dc/terms/" xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video" resource="<?php echo $swfUrl; ?>" data="<?php echo $swfUrl; ?>">
						<param name="allowFullScreen" value="true" />
						<param name="allowNetworking" value="all" />
						<param name="allowScriptAccess" value="always" />
						<param name="bgcolor" value="#000000" />
						<param name="flashVars" value="<?php echo http_build_query($flashVars); ?>" />
						<param name="movie" value="<?php echo $swfUrl; ?>" />
						<span property="media:width" content="<?php echo $uiConf->width; ?>"></span>
						<span property="media:height" content="<?php echo $uiConf->height; ?>"></span>
						<span property="media:type" content="application/x-shockwave-flash"></span>
					</object>
				</div>
				<!--  
				<h2>Flash vars</h2>
				<table>
					<thead>
						<tr>
							<th>Variable</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<?php 
							$flashVarsType = array(
								'httpProtocol' => 'http',
								'host' => '',
								'cdnHost' => '',
								'clientTag' => 'adminConsole.gallery',
								'partnerId' => 0,
								'ks' => '',
								'referrer' => '',
								'entryId' => '',
								'flavorId' => '',
								'preferedFlavorHeight' => 0,
								'sourceType' => array('url', 'entryId'),
								'streamerType' => array('http', 'rtmp', 'live'),
								'streamerUrl' => '',
								'streamFormat' => array('mp4'),
								'rtmpFlavors' => array('1'),
								'widgetId' => '',
								'uiConfId' => '',
								'kml' => array('local', 'injet'),
								'kmlPath' => '',
								'embeddedWidgetData' => '',
								'disableAlerts' => false,
								'fileSystemMode' => false,
								'debugMode' => false,
								'autoPlay' => false,
								'autoRewind' => false,
								'autoMute' => false,
								'uiConfLayoutId' => '',
								'playerBgColor' => 0,
								'playerBgAlpha' => 0,
							);
							foreach($flashVars as $variable => $value)
							{
								echo "<tr><td>$variable</td><td>$value</td></tr>";
							}
						?>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2"><button>Apply</button></td>
						</tr>
					</tfoot>
				</table>
				-->
				<?php
			}
		?>
	</div>
<?php endif; ?>

<script type="text/javascript">


	function playEntry ( entry_id ){
		//alert ( "playEntry:" + entry_id );
		var player = document.getElementById("kontorol_player");
		if ( player ){
			if ( player.sendNotification ){
				player.sendNotification ('changeMedia', {entryId: entry_id});
			}
			else{
				alert ( "Player loading..." );
			}
		}
		else{
			alert ( "No player" );
		}
	}

	var intervalPointer = null;
	
	function refreshPage() {
		pauseRefresh();
		
		var frm = document.getElementById("frmSearch");
		frm.reset();
		frm.submit();
	}
	
	function setRefreshTimer() {
		intervalPointer = setTimeout(refreshPage, <?php echo $this->getConfigValue('refreshIntervalSec'); ?> * 1000);
	}

	function pauseRefresh()	{
		clearTimeout(intervalPointer);
		intervalPointer = null;
	}

	function toggleRefresh() {
		if(intervalPointer == null) {
			setRefreshTimer();
			document.getElementById("cmdToggleRefresh").innerHTML = "<?php echo $this->translate('gallery refresh pause label'); ?>";
		}
		else {
			pauseRefresh();
			document.getElementById("cmdToggleRefresh").innerHTML = "<?php echo $this->translate('gallery refresh resume label'); ?>";
		}
	}

	//setRefreshTimer();

	$("#wrapper").css("width", 3333 + "px");
	$(window).load(function(){
		var extra = $.browser.safari ? 51 : 30;
		var width = $("#filters").width() + $("#results").width();
		$("#wrapper").css("width", ( width + extra ) + "px");
	});
</script>
